<p></p>
<strong>Number of publications per funding instrument</strong>
<div class="row">
    <div class="col-12">
        {% include 'reporting/_table.tmpl' with table=publications_per_funding_instrument table_id='publications_per_funding_instrument' %}
    </div>
</div>
<p></p>
<strong>Number of datasets per funding instrument</strong>
<div class="row">
    <div class="col-12">
        {% include 'reporting/_table.tmpl' with table=datasets_per_funding_instrument table_id='datasets_per_funding_instrument' %}
    </div>
</div>
<p></p>