{% load thousands_separator %}

<div class="row">
    <div class="col-6">
        <table class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th style="width: 50%;">Call</th>
                <th>Female</th>
                <th>Male</th>
                <th>Other</th>
                <th>Prefer not to say</th>
                <th>Not in db</th>
            </tr>
            </thead>

            <tbody>
            {% for row in table %}
                <tr>
                    <td>{{ row.call_name }}</td>
                    <td>{% include 'reporting/_percentage_or_na.tmpl' with value=row.female_percentage %}</td>
                    <td>{% include 'reporting/_percentage_or_na.tmpl' with value=row.male_percentage %}</td>
                    <td>{% include 'reporting/_percentage_or_na.tmpl' with value=row.other_percentage %}</td>
                    <td>{% include 'reporting/_percentage_or_na.tmpl' with value=row.prefer_not_to_say_percentage %}</td>
                    <td>{% include 'reporting/_percentage_or_na.tmpl' with value=row.not_in_db_percentage %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
