<strong>Number of closed calls</strong>
<div class="row">
    <div class="col-6">
        {% include 'reporting/_table.tmpl' with table=calls_per_year table_id='calls_per_year' %}
    </div>
</div>
<p></p>

