<strong>Annual financial support for funded projects</strong>
<div class="row">
    <div class="col-6">
        {% include 'reporting/_table.tmpl' with table=allocated_budget_per_year table_id='allocated_budget_per_year' %}
    </div>
</div>

<p></p>

<strong>Annual financial support for funded projects by grant scheme</strong>
<div class="row">
    <div class="col-8">
        {% include 'reporting/_table.tmpl' with table=allocated_budget_per_call table_id='allocated_budget_per_call' %}
    </div>
</div>
<p></p>