<h2>Career stage</h2>
<div class="row">
    <div class="col-6">
        <strong>Career stage of submitted proposal applicants</strong>
        {% include 'reporting/_table.tmpl' with table=career_stage_proposal_applicants_per_year table_id='career_stage_proposal_applicants_per_year' %}
    </div>
    <div class="col-6">
        <strong>Career stage of funded project principal investigators</strong>
        {% include 'reporting/_table.tmpl' with table=career_stage_projects_principal_investigators_per_year table_id='career_stage_projects_principal_investigators_per_year' %}
    </div>
</div>
<p></p>

<strong>Career stage of submitted proposal applicants per call</strong>
{% include 'reporting/_table.tmpl' with table=career_stage_proposal_applicants_per_call table_id='career_stage_proposal_applicants_per_call' %}
<p></p>
<strong>Career stage of funded project principal investigators per call</strong>
{% include 'reporting/_table.tmpl' with table=career_stage_project_principal_investigator_per_call table_id='career_stage_project_principal_investigator_per_call' %}
<p></p>

<h2>Gender</h2>
<strong>Gender of applicants of submitted proposals</strong>
{% include 'reporting/_table.tmpl' with table=proposals_genders table_id='proposals_genders' %}
<p></p>
<strong>Gender of principal investigators of funded projects</strong>
{% include 'reporting/_table.tmpl' with table=projects_genders table_id='projects_genders' %}
<p></p>