{% load thousands_separator %}

<div class="row">
    <div class="col-6">
        <table class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th style="width: 50%;">{{ title_col1|default:"Year" }}</th>
                <th>{{ title_col2 }}</th>
            </tr>
            </thead>

            <tbody>
            {% for row in table %}
                <tr>
                    <td>{{ row.year }}</td>
                    <td>{{ row.aggregated }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
