{% extends 'logged/_base_with_menus.tmpl' %}

{% block contents %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                This section is under development and is not validated yet. Reports might be wrong or might be based on
                incomplete data.
            </div>

            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'overview' %}active{% endif %}" id="overview-tab"
                           data-toggle="tab"
                           href="#overview"
                           role="tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'finance' %}active{% endif %}" id="reporting_finance-tab"
                           data-toggle="tab"
                           href="#reporting_finance"
                           role="tab">Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'diversity' %}active{% endif %}"
                           id="reporting_diversity-tab" data-toggle="tab" href="#reporting_diversity"
                           role="tab">Diversity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'finance_advanced' %}active{% endif %}"
                            id="reporting_finance_advanced-tab" data-toggle="tab" href="#downloads"
                            role="tab">Downloads</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="overview" role="tabpanel">
                    {% include 'reporting/_overview.tmpl' %}
                </div>
                <div class="tab-pane fade" id="reporting_finance" role="tabpanel">
                    {% include 'reporting/_reporting_finance.tmpl' %}
                </div>
                <div class="tab-pane fade" id="reporting_diversity" role="tabpanel">
                    {% include 'reporting/_reporting_diversity.tmpl' %}
                </div>
                <div class="tab-pane fade" id="downloads" role="tabpanel">
                    {% include 'reporting/_downloads.tmpl' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
