{% extends 'logged/_base_with_menus.tmpl' %}

{% load static %}

{% block contents %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                This section is under development and is not validated yet. Reports might be wrong or might be based on
                incomplete data.
            </div>

            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'overview' %}active{% endif %}"
                           id="overview-tab"
                           data-toggle="tab"
                           href="#overview"
                           role="tab">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'finance' %}active{% endif %}"
                           id="finance-tab"
                           data-toggle="tab"
                           href="#finance"
                           role="tab">Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'diversity' %}active{% endif %}"
                           id="diversity-tab" data-toggle="tab" href="#diversity"
                           role="tab">Diversity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'finance_advanced' %}active{% endif %}"
                            id="downloads-tab" data-toggle="tab" href="#downloads"
                            role="tab">Downloads</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade {% if active_tab == 'overview' %}show active{% endif %}" id="overview" role="tabpanel">
                    {% include 'reporting/_overview.tmpl' %}
                </div>
                <div class="tab-pane fade {% if active_tab == 'finance' %}show active{% endif %}" id="finance" role="tabpanel">
                    {% include 'reporting/_reporting_finance.tmpl' %}
                </div>
                <div class="tab-pane fade {% if active_tab == 'diversity' %}show active{% endif %}" id="diversity" role="tabpanel">
                    {% include 'reporting/_reporting_diversity.tmpl' %}
                </div>
                <div class="tab-pane fade {% if active_tab == 'downloads' %}show active{% endif %}" id="downloads" role="tabpanel">
                    {% include 'reporting/_downloads.tmpl' %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/tab_url.js' %}"></script>

{% endblock %}
