{% extends 'common/_base.tmpl' %}
{% block title %}Project Management - {% block subtitle %}{% endblock %}{% endblock %}
{% block body_contents %}
    {% include 'logged/_navbar.tmpl' with active=active_section %}

    <div class="container-fluid">
        <div class="row">
            {% include sidebar_template with active=active_subsection %}

            <div class="col-11 px-4" role="main">
                <br>
                {% include 'common/_breadcrumb.tmpl' %}
                {% include 'common/_messages-box.tmpl' %}

                {% block contents %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
