{% if parts %}
    <ul>
        {% for part in parts %}
            <li>
                <a href="{% url 'logged-call-part-detail' call_pk=part.call.pk proposal_part_pk=part.pk %}">Part {{ part.heading_number }}: {{ part.title }}</a>
                {% include 'logged/list-of-questions-for-part.tmpl' with call_part=part only %}
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'logged-call-part-add' call_pk=call.pk %}">Create Part</a>
{% else %}
    There are no extra parts on this call.
    {% if call %}
        <a class="btn btn-primary" href="{% url 'logged-call-part-add' call_pk=call.pk %}">Create a Part.</a>
    {% endif %}
{% endif %}