<a href="#" data-toggle="modal" data-target="#wordpress-instructions">Instructions</a>
<div class="modal fade" id="wordpress-instructions" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Steps to display the lay summaries in Wordpress</h5>
            </div>
            <div class="modal-body">
                <ol>
                    <li>Login to Wordpress and create the page that you would like the lay summaries to appear on</li>
                    <li>Add the title and setup the parent page</li>
                    <li>In the body paste this code: <code>{{ code }}</code></li>
                    ({% include 'common/_clipboard_button.tmpl' with text=code id='public_lay_summaries_for_website_url_in_modal' %})
                    <li>Preview the page</li>
                    <li>If you notice any problems correct them in the grant management section . &#9888;: for lay
                        summaries make corrections to the newest web version
                    </li>
                </ol>
            </div>
            <div class="modal-footer mr-auto">
                <button type="button" class="btn btn-primary mr-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
