{% load request_is_management %}
{% load request_is_reviewer %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark {{ navbarcolor|default_if_none:"bg-primary" }}">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% include 'common/_logo.tmpl' %}

        <ul class="navbar-nav mr-auto justify-content-center d-flex flex-fill">
            {% if request|request_is_management %}
                <li class="nav-item {% if active == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logged-homepage' %}">Home</a>
                </li>
            {% endif %}
            {% if request|request_is_management %}
                <li class="nav-item {% if active == 'calls' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logged-call-list' %}">Calls</a>
                </li>
            {% endif %}
            {% if request|request_is_management %}
                <li class="nav-item {% if active == 'evaluation' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logged-evaluation-list' %}">Evaluation</a>
                </li>
            {% endif %}
            {% if request|request_is_management %}
                <li>
                    <a class="nav-link disabled" href="#">Grant management</a>
                </li>
            {% endif %}
            {% if request|request_is_reviewer %}
                <li class="nav-item {% if active == 'proposals' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'logged-proposal-list' %}">Proposals</a>
                </li>
            {% endif %}
            {% if request|request_is_management %}
                <li class="nav-item dropdown {% if active == 'lists' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="listsDropdown" role="button"
                       data-toggle="dropdown">
                        Lists
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logged-proposal-list' %}">Proposals</a>
                        <a class="dropdown-item" href="{% url 'logged-project-list' %}">Projects</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'logged-person-position-list' %}">People</a>
                    </div>
                </li>
            {% endif %}
        </ul>

        <nav class="navbar">
            <span class="navbar-text">
                User: {{ request.user.username }}
            </span>
        </nav>

        <ul class="navbar-nav justify-content-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Log out</a>
            </li>
        </ul>
    </div>
</nav>