<table id="call-news" class="table table-stripped table-sm table-hover display">
    <thead>
    <tr>
        <th>Event</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>
    {% for news in call_news %}
        <tr>
            <td>{{ news.description }}</td>
            <td data-sort="{{ news.date|date:"Y-m-d" }}">{% include 'common/_date-or-dash.tmpl' with date=news.date %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#call-news').DataTable({
                "pageLength": 100,
                "order": [[1, "asc"]],
                "searchHighlight": true
            }
        );
    });
</script>
