{% extends 'logged/_sidebar-base.tmpl' %}
{% block sidebar_contents %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {% if active == 'lists' %}active{% endif %}"
               href="{% url 'logged-lists' %}">
                Lists
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="nav-link {% if active == 'proposal-list' %}active{% endif %}"
               href="{% url 'logged-proposal-list' %}">
                List proposals
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'contact-list' %}active{% endif %}"
               href="{% url 'person-position-list' %}">
                List people
            </a>
        </li>
        {#        <li class="nav-item">#}
        {#            <a class="nav-link {% if active == 'contacts-add' %}active{% endif %}"#}
        {#               href="{% url 'logged-person-position-add' %}">#}
        {#                Create person#}
        {#            </a>#}
        {#        </li>#}
    </ul>
{% endblock %}
