{% extends 'logged/_sidebar-base.tmpl' %}
{% load request_is_reviewer %}
{% load request_is_management %}

{% block sidebar_contents %}
    <ul class="nav flex-column">
        {% if request|request_is_management %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'lists' %}active{% endif %}"
                   href="{% url 'logged-lists' %}">
                    Lists
                </a>
            </li>
            <hr>
        {% endif %}

        {% if request|request_is_management or request|request_is_reviewer %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'proposal-list' %}active{% endif %}"
                   href="{% url 'logged-proposal-list' %}">
                    List proposals
                </a>
            </li>
            <hr>
        {% endif %}
        {% if request|request_is_management %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'project-list' %}active{% endif %}"
                   href="{% url 'logged-project-list' %}">
                    List projects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == "project-create" %}active{% endif %}"
                   href="{% url 'logged-grant_management-project-add' %}">
                    Create project
                </a>
            </li>
            <hr>
        {% endif %}
        {% if request|request_is_management %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'contact-list' %}active{% endif %}"
                   href="{% url 'logged-person-position-list' %}">
                    List people
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'contacts-add' %}active{% endif %}"
                   href="{% url 'logged-person-position-add' %}">
                    Create person
                </a>
            </li>
            <hr>
        {% endif %}
        {% if request|request_is_management %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'financial_key-list' %}active{% endif %}"
                   href="{% url 'logged-financial-key-list' %}">
                    List financial keys
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'financial_key-add' %}active{% endif %}"
                   href="{% url 'logged-financial-key-update' %}">
                    Create financial key
                </a>
            </li>
            <hr>
        {% endif %}
        {% if request|request_is_management %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'user-list' %}active{% endif %}"
                   href="{% url 'logged-user-list' %}">
                    List users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'user-add' %}active{% endif %}"
                   href="{% url 'logged-user-add' %}">
                    Create user
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
