{% extends 'logged/_sidebar-base.tmpl' %}
{% block sidebar_contents %}
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active == 'news' %}active{% endif %}"
                       href="{% url 'logged-news' %}">
                        Latest News
                    </a>
                </li>
                {% if documentation_url %}
                    <li class="nav-item">
                        <a class="nav-link"
                           target="_blank"
                           href="{{ documentation_url }}">Documentation&nbsp;<i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}