<style>
    /** The buttons "Edit" and "View" in the Actions column should always be in the same line */
    td:nth-child(4) {
        white-space: nowrap;
    }
</style>

<table id="{{ table_id }}" class="table table-striped table-sm table-hover display">
    <thead>
    <tr>
        <th>Name</th>
        <th>{{ th_proposals|default:"Proposals" }}</th>
        <th>Deadline</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for call in calls %}
        <tr>
            <td>{{ call.long_name }}</td>
            <td>
                {% if proposals_no_draft_only %}
                    {{ call.number_of_proposals_no_draft }}
                {% else %}
                    {{ call.number_of_proposals }}
                {% endif %}
            </td>
            <td>{% include 'common/_date_time.tmpl' with value=call.submission_deadline %}</td>
            <td>
                {% if view_button %}
                    <a class="btn btn-primary btn-xs" href="{% url 'logged-call-detail' pk=call.id %}">View</a>
                {% endif %}
                {% if edit_button %}
                    <a class="btn btn-primary btn-xs" href="{% url 'logged-call-update' pk=call.id %}">Edit</a>
                {% endif %}
                {% if proposal_call_list_button %}
                    <a class="btn btn-primary btn-xs" href="{% url 'logged-call-list-proposals' call_id=call.id %}">List
                        Proposals</a>
                {% endif %}
                {% if proposal_evaluation_list_button %}
                    <a class="btn btn-primary btn-xs"
                       href="{% url 'logged-call-evaluation-list-proposals' call_id=call.id %}">List
                        Proposals</a>
                {% endif %}
                {% if view_evaluation_button %}
                    {% if call.callevaluation %}
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-call-evaluation-detail' pk=call.callevaluation.id %}">View Call
                            Evaluation</a>
                    {% else %}
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-call-evaluation-add' %}?call={{ call.pk }}">Create Call
                            Evaluation</a>
                    {% endif %}
                {% endif %}
                {% if evaluation_spreadsheet_button %}
                    <br>
                    {% if call.number_of_proposals > 0 %}
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-export-proposals-for-call-excel' call=call.pk %}">Excel Evaluation</a>
                    {% endif %}
                {% endif %}
                {% if call.callevaluation and evaluation_summary_or_validation_button %}
                    {% if call.evaluation_is_closed %}
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-call-evaluation-summary' call_id=call.pk %}">Evaluation
                            Summary</a>
                    {% else %}
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-call-evaluation-validation' call_id=call.pk %}">Evaluation
                            Validation</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#{{ table_id }}.display').DataTable({
                "pageLength": 100,
                "columns": [
                    {"width": "40%"},
                    {"width": "10%"},
                    {"width": "30%"},
                    {"width": "20%"}
                ]
            }
        );

        // Fixes sizes of columns if this table is going to appear in a non-active Bootstrap tab
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).css('width', '100%');
            $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
        });
    });
</script>
