{% if user_type == "Management" %}
    <span class="badge" style="color:#00203FFF; background-color: #ADEFD1FF;">Management</span>
{% elif user_type == "Reviewer" %}
    <span class="badge" style="color:#00539CFF; background-color: #EEA47FFF;">Reviewer</span>
{% elif user_type == "Applicant" %}
    <span class="badge" style="color:#000000FF; background-color: #007BFFFF;">Applicant</span>
{% else %}
    {{ user_type }}
{% endif %}
