{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>{{ call_action }} call</h1>
            <form method="post" action="{{ call_action_url }}">
                {% crispy call_form %}

                {% if call_action != 'Create' %}
                    <p></p>
                    <h1>Template variables</h1>
                    {% include 'variable_templates/_template_variables-form.tmpl' %}
                {% endif %}

                {% if call_action == 'Create' %}
                    {% include 'common/_submit-button.tmpl' with value='Create Call' %}
                {% else %}
                    {% include 'common/_submit-button.tmpl' with value='Save Call' %}
                {% endif %}
                {% include 'common/_cancel-button.tmpl' with value='Cancel Edit' url=cancel_url %}
                <p></p>
            </form>
        </div>
        <div class="col-2">
            {% if call %}
                <p>
                    <a class="btn btn-primary" href="{% url 'logged-call-detail' pk=call.id %}">View Call</a>
                </p>
                <p>
                    <a class="btn btn-primary" href="{% url 'logged-call-part-list' call_pk=call.id %}">List Call Parts</a>
                </p>
                <p>
                    <a class="btn btn-primary" href="{% url 'logged-proposal-preview' %}?call={{ call.id }}">Form
                        Preview</a>
                </p>
            {% endif %}
        </div>
    </div>

    {{ funding_instruments_data|json_script:"funding_instruments_data" }}

    <script>
        const call_long_name_selector = '#id_call_form-long_name';
        const call_short_name_selector = '#id_call_form-short_name';
        const funding_instrument_selector = '#id_call_form-funding_instrument';
        const finance_year_selector = '#id_call_form-finance_year';

        function update_call_name() {
            const funding_instruments_data = JSON.parse(document.getElementById('funding_instruments_data').textContent);

            let selected_id = $(funding_instrument_selector).val();
            if (selected_id === '') {
                $(call_long_name_selector).val('');
                $(call_short_name_selector).val('');
            } else {
                let funding_instrument_data = funding_instruments_data[selected_id];
                let finance_year = $(finance_year_selector).val();

                $(call_long_name_selector).val(funding_instrument_data.long_name + ' ' + finance_year);
                $(call_short_name_selector).val(funding_instrument_data.short_name + ' ' + finance_year);
            }
        }

        $(call_long_name_selector).prop('readonly', true);
        $(call_short_name_selector).prop('readonly', true);

        $(funding_instrument_selector).change(update_call_name);
        $(finance_year_selector).on('input', update_call_name);
    </script>
{% endblock %}
