{% extends 'logged/_base_with_menus.tmpl' %}
{% load thousands_separator %}
{% load l10n %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Call details</h1>
            <strong>Funding instrument:</strong>
            {% if call.funding_instrument %}
                <a href="{% url 'logged-funding-instrument-detail' pk=call.funding_instrument.id %}">{{ call.funding_instrument }}</a>{% else %}
                Call not assigned to funding
                instrument
            {% endif %}
            <br>
            <strong>Long name:</strong> {{ call.long_name }}
            <br>
            <strong>Short name:</strong> {{ call.short_name }}
            <br>
            <strong>Finance year:</strong> {{ call.finance_year|unlocalize }}
            <p></p>
            <div class="row">
                <div class="col-6">
                    <strong>Call open
                        date:</strong> {{ call.call_open_date }} Swiss time
                </div>
                <div class="col-6">
                    <strong>Call submission
                        deadline:</strong> {{ call.submission_deadline }} Swiss time
                </div>
            </div>
            <p></p>
            {% if public_lay_summaries_for_website_url %}
                <strong>Lay summary website integration:</strong>
                {% include 'common/_clipboard_button.tmpl' with text=public_lay_summaries_for_website_url id='xxx' %} -
                {% include 'logged/_instructions_lay_summaries_wordpress-button-model.tmpl' with code=public_lay_summaries_for_website_url %}
            {% else %}
                <strong>Lay summary website integration:</strong> Call Evaluation needs to be closed before this is
                possible
            {% endif %}
            <p></p>
            <strong>Description:</strong>
            <div class="border p-1 bg-white rounded pre-wrap">{% include 'common/_value-or-dash.tmpl' with value=call.description %}</div>
            <br>
            <strong>Introductory message:</strong>
            <div class="border p-1 bg-white rounded pre-wrap">{% include 'common/_value-or-dash.tmpl' with value=call.introductory_message %}</div>
            <br>
            <strong>Budget maximum:</strong> {{ call.budget_maximum|thousands_separator }} CHF
            <div class="row">
                <div class="col-6">
                    <strong>Budget categories:</strong><br>
                    <div style="margin-left: 2em;">
                        {% for budget_category in budget_categories_status %}
                            {% include 'common/_check-icon.tmpl' with value=budget_category.in_call %}
                            {{ budget_category.name }}
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-6">
                    <strong>Other funding
                        question:</strong> {% include 'common/_check-icon.tmpl' with value=call.other_funding_question %}
                </div>
                <div class="col-6">
                    <strong>Proposal partner
                        question:</strong> {% include 'common/_check-icon.tmpl' with value=call.proposal_partner_question %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <strong>Overarching project question:</strong>
                    {% include 'common/_check-icon.tmpl' with value=call.overarching_project_question %}
                </div>
                <div class="col-6">
                    <strong>Scientific clusters question:</strong>
                    {% include 'common/_check-icon.tmpl' with value=call.scientific_clusters_question %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <strong>Keywords in general information question:</strong>
                    {% include 'common/_check-icon.tmpl' with value=call.keywords_in_general_information_question %}
                </div>
            </div>
            <br>
            <h2><a id="parts">Parts</a></h2>
            {% include 'logged/_call-part-list.tmpl' with parts=parts call=call only %}

{#            <h2>Questions</h2>#}
{#            {% for question in call.callquestion_set_ordered_by_order %}#}
{#                <strong>Answer type:</strong>#}
{#                {% include 'common/_answer_type-icon.tmpl' with type=question.answer_type %}#}
{#                <br>#}
{#                <strong>Question:</strong> {{ question.question_text }}#}
{#                {% if question.answer_type == question.TEXT %}(max words: {% if question.answer_max_length %}#}
{#                    {{ question.answer_max_length }}{% else %}unlimited{% endif %}){% endif %}#}
{#                <br>#}
{#                <strong>Description:</strong> {{ question.question_description }}<br>#}
{#                <strong>Answer required:</strong>#}
{#                {% include 'common/_check-icon.tmpl' with value=question.answer_required %}#}
{#                <p></p>#}
{#            {% empty %}#}
{#                No questions for this call#}
{#            {% endfor %}#}
{#            <p>#}
{#            </p>#}
{##}
            <p></p>
            <h2>Template variables</h2>
            {% if template_variables %}
                {% include 'variable_templates/_table-template_variables.tmpl' with template_variables=template_variables %}
            {% else %}
                No template variables in this call
            {% endif %}
            <p></p>

            <hr>
            {% include 'comments/_comments-attachments.tmpl' %}
        </div>
        <div class="col-2">
            <p>
                <a class="btn btn-primary d-print-none" href="{% url 'logged-call-update' pk=call.id %}">Edit
                    Call</a>
            </p>
            <p>
                <a class="btn btn-primary d-print-none" href="{% url 'logged-call-part-list' call_pk=call.pk %}">List
                    Parts</a>
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            {% include 'comments/_comments-attachments-compact-list.tmpl' %}
        </div>
    </div>
{% endblock %}
