{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>{{ call_action }} call</h1>
            <form method="post" action="{{ call_action_url }}">
                {% crispy call_form %}

                {% include 'logged/_form_call_question.tmpl' %}

                {% if call_action != 'Create' %}
                    <h1>Template variables</h1>
                    {% include 'variable_templates/_template_variables-form.tmpl' %}
                {% endif %}

                {% include 'common/_submit-button.tmpl' with value='Save Call' %}
                {% include 'common/_cancel-button.tmpl' with value='Cancel Edit' url=cancel_url %}
                <p></p>
            </form>
        </div>
        <div class="col-2">
            {% if id %}
                <a class="btn btn-primary" href="{% url 'logged-call-detail' pk=id %}">View Call</a>
            {% endif %}
        </div>
    </div>

    {{ funding_instruments_data|json_script:"funding_instruments_data" }}

    <script>
        var funding_instruments_data = JSON.parse(document.getElementById('funding_instruments_data').textContent);
        $('#id_call_form-long_name').prop('readonly', true);
        $('#id_call_form-short_name').prop('readonly', true);

        $('#id_call_form-funding_instrument').change(function () {
            var selected_id = $(this).val();
            if (selected_id === '') {
                $('#id_call_form-long_name').val('');
                $('#id_call_form-short_name').val('');
            } else {
                var funding_instrument_data = funding_instruments_data[selected_id];

                $('#id_call_form-long_name').val(funding_instrument_data.long_name);
                $('#id_call_form-short_name').val(funding_instrument_data.short_name);
            }
        });
    </script>
{% endblock %}
