{% extends 'logged/_base_with_menus.tmpl' %}
{% load thousands_separator %}
{% load l10n %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Call part file details</h1>
            <strong>Call:</strong> {{ file.call_part.call.long_name }}<br>
            <strong>Part:</strong> {{ file.call_part.title }}<br>
            <strong>Order:</strong> {{ file.order }}<br>
            <strong>Download:</strong> {% include 'common/_file_download_link.tmpl' %}<br>
            <strong>Description:</strong> {{ file.description|default:'-' }}<br>
        </div>
        <div class="col-2">
            <p>
                <a class="btn btn-primary d-print-none"
                   href="{% url 'logged-call-part-file-update' call_pk=file.call_part.call.pk call_file_pk=file.pk %}">Edit
                    File</a>
            </p>
            <p>
                <button class="btn btn-danger"
                        data-file-id="{{ file.pk }}"
                        data-file-name="{{ file.name }}"
                        data-part-id="{{ file.call_part.pk }}"
                        data-toggle="modal" data-target="#confirm-delete-call-part-file">Delete File
                </button>
            </p>
        </div>
    </div>

    {% include 'logged/modal-dialogues/_modal_delete_call_part_file.tmpl' %}
{% endblock %}

