{% extends 'logged/_base_with_menus.tmpl' %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>List files for {{ callpart.title }}</h1>
            Call: {{ callpart.call.long_name }}

            <p></p>

            <table id="call-parts" class="table table-striped table-sm table-hover display">
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for callpartfile in callpart.files %}
                    <tr>
                        <td>{% include 'common/_value-or-dash.tmpl' with value=callpartfile.order %}</td>
                        <td>{{ callpartfile.name }}</td>
                        <td>{{ callpartfile.description|default:'-' }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs"
                               href="{% url 'logged-call-part-file-detail' call_pk=callpartfile.call_part.call.pk call_file_pk=callpartfile.pk %}">View</a>

                            <a class="btn btn-primary btn-xs"
                               href="{% url 'logged-call-part-file-update' call_pk=callpartfile.call_part.call.pk call_file_pk=callpartfile.pk %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p></p>
            <a class="btn btn-primary" href="{% url 'logged-call-part-file-add' call_pk=callpart.call.pk call_part_pk=callpart.pk %}">Add New File</a>
        </div>

        <div class="col-2">
        </div>
    </div>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#call-parts.display').DataTable({
                    "pageLength": 100,
                    "columns": [
                        {"width": "10%"},
                        {"width": "10%"},
                        {"width": "60%"},
                        {"width": "20%"},
                    ],
                    "searchHighlight": true
                }
            );
        });
    </script>

{% endblock %}
