{% extends 'logged/_base_with_menus.tmpl' %}

{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>{{ action }} call part</h1>
            <strong>Call:</strong> {{ call.long_name }}<br>
            {% crispy form %}
        </div>

        <div class="col-2">
            {% if callpart %}
                <a class="btn btn-primary"
                   href="{% url 'logged-call-part-detail' call_pk=callpart.call.pk call_part_pk=callpart.pk %}">View
                    Call Part</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
