{% extends 'logged/_base_with_menus.tmpl' %}
{% block subtitle %}Calls List{% endblock %}

{% block contents %}
    <br>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab">Open</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="future-tab" data-toggle="tab" href="#future" role="tab">Future</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="closed-tab" data-toggle="tab" href="#closed" role="tab">Closed</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="open" role="tabpanel">
            <h1>Open calls</h1>
            {% if open_calls %}
                {% include 'logged/_table_of_calls.tmpl' with calls=open_calls table_id='open_calls' %}
            {% else %}
                No open calls at the moment.
            {% endif %}
        </div>
        <div class="tab-pane fade" id="future" role="tabpanel">
            <h1>Future calls</h1>
            {% if future_calls %}
                {% include 'logged/_table_of_calls.tmpl' with calls=future_calls table_id='future_calls' %}
            {% else %}
                No future calls at the moment.
            {% endif %}
        </div>
        <div class="tab-pane fade" id="closed" role="tabpanel">
            <h1>Closed calls</h1>
            {% if closed_calls %}
                {% include 'logged/_table_of_calls.tmpl' with calls=closed_calls table_id='closed_calls' %}
            {% else %}
                No closed calls at the moment.
            {% endif %}
        </div>
    </div>
{% endblock %}
