{% extends 'logged/_base_with_menus.tmpl' %}

{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>{{ action }} call part</h1>
            <strong>Call:</strong> <a href="{% url 'logged-call-detail' pk=call.pk %}">{{ call.long_name }}</a><br>
            {% crispy form %}
        </div>

        <div class="col-2">
            {% if callpart %}
                <p>
                    <a class="btn btn-primary"
                       href="{% url 'logged-call-part-detail' call_pk=callpart.call.pk call_part_pk=callpart.pk %}">View
                        Call Part</a>
                </p>
                <p>
                    <button class="btn btn-danger"
                            data-call-part-id="{{ callpart.pk }}"
                            data-call-part-title="{{ callpart.title }}"
                            data-call-id="{{ callpart.call.pk }}"
                            data-toggle="modal" data-target="#confirm-delete-call-part">Delete Call Part
                    </button>
                </p>
            {% endif %}
        </div>
    </div>
    {% include 'logged/modal-dialogues/_modal_delete_call_part.tmpl' %}
{% endblock %}
