{% extends 'logged/_base_with_menus.tmpl' %}

{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Create Call Part for {{ call.long_name }}</h1>
            {% crispy form %}
        </div>

        <div class="col-2">
            {% if callpart %}
                <a class="btn btn-primary"
                   href="{% url 'logged-call-part-update' call_pk=callpart.call.pk proposal_part_pk=callpart.pk %}">Edit
                    Call Part</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
