{% extends 'logged/_base_with_menus.tmpl' %}
{% load thousands_separator %}
{% load spi_linebreaksbr %}
{% load l10n %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Call details</h1>
            <strong>Funding instrument:</strong>
            {% if call.funding_instrument %}
                <a href="{% url 'logged-funding-instrument-detail' pk=call.funding_instrument.id %}">{{ call.funding_instrument }}</a>{% else %}
                Call not assigned to funding
                instrument
            {% endif %}
            <br>
            <strong>Long Name:</strong> {{ call.long_name }}
            <br>
            <strong>Short Name:</strong> {{ call.short_name }}
            <br>
            <strong>Finance year:</strong> {{ call.finance_year|unlocalize }}
            <br>
            {% if public_lay_summaries_for_website_url %}
                <strong>Lay summary website integration:</strong>
                {% include 'common/_clipboard_button.tmpl' with text=public_lay_summaries_for_website_url id='xxx' %} -
                {% include 'logged/_instructions_lay_summaries_wordpress-button-model.tmpl' with code=public_lay_summaries_for_website_url %}
                <br>
            {% endif %}
            <strong>Description:</strong>
            <div class="border p-1 bg-white rounded">{% include 'common/_value-or-dash.tmpl' with value=call.description|spi_linebreaksbr %}</div>
            <br>
            <strong>Introductory message:</strong>
            <div class="border p-1 bg-white rounded">{% include 'common/_value-or-dash.tmpl' with value=call.introductory_message|spi_linebreaksbr %}</div>
            <br>
            <div class="row">
                <div class="col-6">
                    <strong>Call Open
                        Date:</strong> {{ call.call_open_date }} Swiss time
                </div>
                <div class="col-6">
                    <strong>Call Submission
                        deadline:</strong> {{ call.submission_deadline }} Swiss time
                </div>
            </div>
            <br>
            <strong>Budget maximum:</strong> {{ call.budget_maximum|thousands_separator }} CHF
            <div class="row">
                <div class="col-6">
                    <strong>Budget categories:</strong><br>
                    {% for budget_category in budget_categories_status %}
                        {% include 'common/_check-icon.tmpl' with value=budget_category.in_call %}
                        {{ budget_category.name }}
                        <br>
                    {% endfor %}
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-6">
                    <strong>Other funding
                        question:</strong> {% include 'common/_check-icon.tmpl' with value=call.other_funding_question %}
                </div>
                <div class="col-6">
                    <strong>Proposal partner
                        question:</strong> {% include 'common/_check-icon.tmpl' with value=call.proposal_partner_question %}
                </div>
                <div class="col-12">
                    <strong>Overarching project question:</strong>
                    {% include 'common/_check-icon.tmpl' with value=call.overarching_project_question %}
                </div>
            </div>
            <br>
            <h2>Questions</h2>
            {% for question in call.callquestion_set_ordered_by_order %}
                <strong>Answer type:</strong>
                {% include 'common/_answer_type-icon.tmpl' with type=question.answer_type %}
                <br>
                <strong>Question:</strong> {{ question.question_text }}
                {% if question.answer_type == question.TEXT %}(max words: {% if question.answer_max_length %}
                    {{ question.answer_max_length }}{% else %}unlimited{% endif %}){% endif %}
                <br>
                <strong>Description:</strong> {{ question.question_description }}<br>
                <strong>Answer required:</strong>
                {% include 'common/_check-icon.tmpl' with value=question.answer_required %}
                <p></p>
            {% empty %}
                No questions for this call
            {% endfor %}
            <p>
            </p>

            <h2>Template variables</h2>
            {% if template_variables %}
                {% include 'variable_templates/_table-template_variables.tmpl' with template_variables=template_variables %}
            {% else %}
                No template variables in this call
            {% endif %}
            <p></p>

            <hr>
            {% include 'comments/_comments-attachments.tmpl' %}
        </div>
        <div class="col-2">
            <a class="btn btn-primary d-print-none" href="{% url 'logged-call-update' pk=call.id %}">Edit
                Call</a>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            {% include 'comments/_comments-attachments-compact-list.tmpl' %}
        </div>
    </div>
{% endblock %}
