{% extends 'logged/_base_with_menus.tmpl' %}

{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>{{ action }} call part file</h1>
            <strong>Call:</strong> <a
                href="{% url 'logged-call-detail' pk=call_part.call.pk %}">{{ call_part.call.long_name }}</a><br>
            <strong>Call Part:</strong> <a
                href="{% url 'logged-call-part-detail' call_pk=call_part.call.pk call_part_pk=call_part.pk %}">{{ call_part.title }}</a><br>
            <p></p>
            {% crispy form %}
        </div>

        <div class="col-2">
            {% if file %}
                <a class="btn btn-primary"
                   href="{% url 'logged-call-part-file-detail' call_pk=call_part.call.pk call_file_pk=file.pk %}">View
                    File</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
