{% extends 'logged/_base_with_menus.tmpl' %}

{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>View Call Part</h1>
            <strong>Call:</strong> {{ callpart.call.long_name }}<br>
            <strong>Order:</strong> {{ callpart.order }}<br>
            <strong>Title:</strong> {{ callpart.title }}<br>
            <strong>Introductory text:</strong>
            <div class="border p-1 bg-white rounded pre-wrap">{{ callpart.introductory_text }}</div>
        </div>

        <div class="col-2">
            <a class="btn btn-primary"
               href="{% url 'logged-call-part-update' call_pk=callpart.call.pk proposal_part_pk=callpart.pk %}">Edit
                Call Part</a>
        </div>
    </div>
{% endblock %}
