{% extends 'logged/_base_with_menus.tmpl' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% if form.instance.id %}
                <h1>Edit person</h1>
            {% else %}
                <h1>Create person</h1>
            {% endif %}

            {% crispy form %}
        </div>
        <div class="col-2">

        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/orcid.js' %}"></script>

    <script>
        setupOrcidLookupForForm('contact_form', 'person__orcid', 'person__first_name', 'person__surname');
    </script>

{% endblock %}
