{% extends 'logged/_base_with_menus.tmpl' %}
{% block subtitle %}Contact{% endblock %}

{% block contents %}
    <br>

    {#<a class="float-sm-right btn btn-primary" href="{% url 'contact-update' pk=object.id %}">Edit contact</a>#}

    <h1>Contact</h1>
    {% include 'common/_messages-box.tmpl' %}

    <p></p>
    <strong>Name:</strong> {{ object.academic_title }} {{ object.person.first_name }} {{ object.person.surname }}
    <br>
    <strong>Organisations:</strong>
    {% for organisation in object.organisations_ordered_by_name %}{% if not forloop.first %}, {% endif %}
        {{ organisation }}{% empty %}
        -
    {% endfor %}
    <br>
    <strong>Group:</strong> {% include 'common/_value-or-dash.tmpl' with value=object.group %}
    <br>
    <strong>Email:</strong> {% include 'common/_email_link_or_dash.tmpl' with email=object.main_email %}
    <p></p>
    <div class="row">
        <div class="col-6">
            <strong>Data policy:</strong> {% include 'common/_check-icon.tmpl' with value=object.privacy_policy %}
        </div>
        <div class="col-6">
            <strong>Newsletter:</strong> {% include 'common/_check-icon.tmpl' with value=object.contact_newsletter %}
        </div>
    </div>
{% endblock %}
