{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% block subtitle %}Contact{% endblock %}

{% block contents %}
    {% if form.instance.id %}
        <h1>Edit person</h1>
    {% else %}
        <h1>Create person</h1>
    {% endif %}

    {% crispy form %}
{% endblock %}
