{% extends 'logged/_base_with_menus.tmpl' %}

{% block contents %}
    <h1>Financial keys</h1>
    Financial keys are used by the billing system. They are the name of a funding instrument or a financial category.
    To avoid miss-using keys they need to be added here: if a key is used for a financial category it cannot be used as
    a funding instrument key.

    {% if financial_keys %}
        <table id="financial-keys" class="table table-stripped table-sm table-hover display">
            <thead>
            <tr>
                <th>Key</th>
                <th>Description</th>
                <th>For funding instrument</th>
                <th>Created at</th>
                <th>Created by</th>
            </tr>
            </thead>

            <tbody>
            {% for financial_key in financial_keys %}
                <tr>
                    <td>{{ financial_key.name }}</td>
                    <td>{{ financial_key.description }}</td>
                    <td data-sort="{{ financial_key.funding_instrument }}">{% include 'common/_check-icon.tmpl' with value=financial_key.funding_instrument %}</td>
                    <td data-sort="{{ financial_key_date|date:"Y-m-d" }}">{{ financial_key.created_on }}</td>
                    <td>{{ financial_key.created_by }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript" class="init">
            $(document).ready(function () {
                $('table.display').DataTable({
                        "pageLength": 100,
                        "searchHighlight": true
                    }
                );
            });
        </script>
    {% else %}
        No financial keys entered in the system
    {% endif %}
    <p></p>
    <a href="{% url 'logged-financial-key-update' %}" class="btn btn-primary">Add New Financial Key</a>
{% endblock %}
