{% extends 'logged/_base_with_menus.tmpl' %}

{% block contents %}
    <h1>Financial keys</h1>
    <p>
        Financial keys are used within SPI finance systems to categorise payments, including those to
        SPI-funded projects. Each funding instrument is assigned a financial key in order to capture the payments made
        to resulting projects, as well as assign each project a related project key. <strong>Please speak to Laurence
        before creating a new financial key.</strong>
    </p>
    <p>
        This is the reference list to ensure financial keys are never duplicated across SPI.
    </p>
    {% if financial_keys %}
        <table id="financial-keys" class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th>Key</th>
                <th>Description</th>
                <th>Project key</th>
                <th>Financial key</th>
                <th>Created at</th>
                <th>Created by</th>
            </tr>
            </thead>

            <tbody>
            {% for financial_key in financial_keys %}
                <tr>
                    <td>{{ financial_key.name }}</td>
                    <td>{{ financial_key.description }}</td>
                    <td data-sort="{{ financial_key.funding_instrument }}">{% include 'common/_check-icon.tmpl' with value=financial_key.funding_instrument %}</td>
                    <td>{% include 'common/_check-icon.tmpl' with value=True %}</td>
                    <td data-sort="{{ financial_key_date|date:"Y-m-d" }}">{{ financial_key.created_on }}</td>
                    <td>{{ financial_key.created_by }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript" class="init">
            $(document).ready(function () {
                $('table.display').DataTable({
                        "pageLength": 100,
                        "searchHighlight": true
                    }
                );
            });
        </script>
    {% else %}
        No financial keys entered in the system
    {% endif %}
    <p></p>
    <strong>Please speak to Laurence
        before creating a new financial key.</strong>
    <p></p>
    <a href="{% url 'logged-financial-key-update' %}" class="btn btn-primary">Add New Financial Key</a>
    <p></p>
{% endblock %}
