{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Funding instrument details</h1>

            <p></p>
            <p><strong>Long name:</strong><br>{{ object.long_name }}</p>
            <p><strong>Short name:</strong><br>{% include 'common/_value-or-dash.tmpl' with value=object.short_name %}
            </p>
            <p><strong>Description:</strong><br>{{ object.description }}</p>

            <h1>Template variables</h1>
            {% include 'variable_templates/_table-template_variables.tmpl' with template_variables=template_variables %}
        </div>

        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'logged-funding-instrument-update' pk=object.id %}">Edit Funding
                Instrument</a>
        </div>
    </div>
{% endblock %}
