{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% if pk %}
                <h1>Edit funding instrument</h1>
            {% else %}
                <h1>Create funding instrument</h1>
            {% endif %}

            <form method="post" action="{{ action_url }}">
                {% crispy funding_instrument_form %}

                <h2>Template variables</h2>
                {% include 'variable_templates/_template_variables-form.tmpl' %}

                {% include 'common/_submit-button.tmpl' with value='Save Funding Instrument' %}
                {% include 'common/_cancel-button.tmpl' with value='Cancel Edit' url=cancel_url %}

{#                {% if pk %}#}
{#                    <a class="btn btn-danger" href="{% url 'logged-funding-instrument-detail' pk=pk %}"#}
{#                       role="button">Cancel Edit</a>#}
{#                {% else %}#}
{#                    <a class="btn btn-danger" href="{% url 'logged-funding-instrument-list' %}"#}
{#                       role="button">Cancel Edit</a>#}
{#                {% endif %}#}
                <p></p>
            </form>
        </div>
        <div class="col-2">
            {% if pk %}
                <a class="btn btn-primary"
                   href="{% url 'logged-funding-instrument-detail' pk=pk %}">View Funding Instrument</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
