{% extends 'logged/_base_with_menus.tmpl' %}
{% block subtitle %}Funding instrument{% endblock %}
{% load crispy_forms_tags %}

{% block contents %}
    <br>
    {% include 'common/_messages-box.tmpl' %}

    <a class="btn btn-primary" href="{% url 'funding-instrument-update' pk=object.id %}">Edit funding
        instrument</a>
    <h1>Funding instrument details</h1>

    <p></p>
    <p><strong>Long name:</strong><br>{{ object.long_name }}</p>
    <p><strong>Short name:</strong><br>{% include 'common/_value-or-dash.tmpl' with value=object.short_name %}</p>
    <p><strong>Description:</strong><br>{{ object.description }}</p>

    <h1>Template variables</h1>
    {% include 'variable_templates/_table-template_variables.tmpl' with template_variables=template_variables %}
{% endblock %}
