{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% block subtitle %}Funding instrument{% endblock %}

{% block contents %}
    {% if form.instance.id %}
        <h1>Editing funding instrument</h1>
    {% else %}
        <h1>Creating funding instrument</h1>
    {% endif %}
    {% include 'common/_messages-box.tmpl' %}

    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% crispy funding_instrument_form %}

        <h2>Template variables</h2>
        {% include 'variable_templates/_template_variables-form.tmpl' %}

        {% include 'common/_submit-button.tmpl' %}

        {% if form.instance.id %}
            <a class="btn btn-danger" href="{% url 'funding-instrument-detail' pk=id %}"
               role="button">Cancel Edit</a>
        {% else %}
            <a class="btn btn-danger" href="{% url 'funding-instruments-list' %}"
               role="button">Cancel Edit</a>
        {% endif %}
    </form>
    <br>
{% endblock %}
