{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}
{% block subtitle %}Homepage{% endblock %}

{% block contents %}
    <h1>Homepage</h1>
    <p>
        Here there will be the latest news, coming up deadlines, search tools. This is not done yet.
    <p>
        Meanwhile below is a changelog of what has been done recently or is to be done next.
    </p>

    <h2>Version deployed on 19/02/2020 (Staging only)</h2>
    New features, improvements:
    <ul>
        <li>Keeps and displays history for eligibility (button "Show history")</li>
        <li>Keeps history (only internally accessible) for the "Evaluation"</li>
        <li>Hides "Evaluation" for non-management users (and adds checks to avoid being miss-used)</li>
        <li>Formats budget correctly</li>
        <li>Improves presentation of the evaluation (only the basics of the proposal in a grey box)</li>
    </ul>
    We are back on the 26th February.

    <h2>Version deployed on 17/02/2020 (Staging only)</h2>
    New features:
    <ul>
        <li>Added possibility of changing the text of titles/descriptions in the proposal form depending on the Funding
            Instrument and Call. For example some funding instruments might ask "Describe your proposal" and some other
            ones
            "Describe your field trip", or "Describe your event".
        </li>
        <li>Added internal (SPI only) comments and attachments to proposals</li>
        <li>Added internal (SPI only) comments and attachments to calls</li>
        <li>Added "Project Eligibility": Yes/No and eligibility comment</li>
        <li>Reviewer mode: reviewers can only see the proposals of calls to which they have access. Creating and
            assigning
            reviewers to calls can be done only by John, Jen or Carles at the moment.
        </li>
        <li>Improved screen layout: previously there were blank spaces around some of the lists, now it uses all the
            screen (important to have space for the eligibility side column).
        </li>
        <li>Major update of the framework (Django) that the Projects application is built on (from version 2.2.6 to
            3.0.3). Minor updates of libraries that are used by the application (database, object storage, Excel writer,
            etc.)
        </li>
    </ul>

    <h2>Version deployed on 24/01/2020</h2>
    New features:
    <ul>
        <li>Added login system for reviewers: they only have access to the list of proposals.</li>
        <li>Export list of proposals as CSV format.</li>
        <li>Added link to the proposal on the Excel evaluation spreadsheet.</li>
        <li>Renamed "Contacts" to "People". Added check/cross for the "Privacy Policy" and "Contact newsletter".</li>
        <li>Changed contact detail on the page before login since it will be used by reviewers as well.</li>
    </ul>

    <h2>Version deployed on 20/01/2020 and 21/01/2020</h2>
    <ul>
        <li>Fixed application error when the amount column in the budget was an invalid number (e.g. text or using wrong
            thousands separator). Now it returns a form error and the applicant can fix it.
        </li>
        <li>
            Fixed: after the previous fix when the amount was empty it returned an application error.
        </li>
        <li>Fixed text in the proposal view: Agree to data policy -> privacy policy, displays the keywords in the view,
            consolidates some more text between the form and the display view.
        </li>
        <li>
            Fixed email link on the application error pages.
        </li>
    </ul>

    <h2>Version deployed on 17/01/2020</h2>
    Fixes:
    <ul>
        <li>Fixed "Date of PhD" not appearing on the proposal view</li>
        <li>Fixed problem that would have prevented an applicant creating a proposal if there were previously two
            proposals with the same applicant name with two different career stages and now this name is an
            Overarching project supervisor
        </li>
        <li>
            Fixed "Date of PhD" not being updated if the Applicant was also the Overall Project Supervisor
        </li>
    </ul>

    Improvements:
    <ul>
        <li>Date/date time picker widgets to select a date: using a Javascript widget instead of the browser's native
            widget. This works the same across all browsers (previously we had problems on Safari, Internet Explorer)
            and different operating
            systems. As well as being more intuitive now, it also gives us more control on how it looks
        </li>
        <li>Send mail notifications on Draft Saved or Draft Submitted to the applicant email address (thanks John for
            helping to create the <a href="mailto:spi-notifications@epfl.ch">spi-notifications@epfl.ch</a> email
            address)
        </li>
        <li>Added email alerts to Carles/Jen (John to be added) when certain events happen. For example if a file
            attachment
            should be available on the object storage but it's not currently accessible
        </li>
        <li>Improves "Date of PhD" month validator. "Date of PhD" is not of a date type because it doesn't include
            the day (it's saved as a string) so it needs special validation instead of the standard from the system. All
            done now.
        </li>
        <li>
            We've written <a
                href="https://c4science.ch/w/swiss_polar_institute_data_and_it_infrastructure_and_applictions/spi_projects_application/">internal
            documentation</a> on different topics about the application and <a
                href="https://c4science.ch/w/swiss_polar_institute_data_and_it_infrastructure_and_applictions/">server
            setup</a> (please follow links to see the full documentation; ask Jen or Carles if you can't access it)
        </li>
        <li>
            Added unit tests to reduce possibility of bugs and make the application easier to change
        </li>
    </ul>

    <h2>Version deployed on 10/12/2019</h2>
    Minor changes only
    <ul>
        <li>Fixed "Overarching project" checkbox on the Call view in the management panel (was always disabled even
            though it was enabled. Cosmic change of the view only)
        </li>
        <li>Improved logo: white background and high quality logo in the management</li>
        <li>(Backend, not affecting users) Fixed unit tests after last week's changes</li>
        <li>Changed Data Collection text</li>
    </ul>

    <h2>Version deployed on 06/12/2019</h2>
    We've been testing and fixing issues from Github:
    <ul>
        <li>Changed formatting of external homepage</li>
        <li>Changed name of budget category total in view</li>
        <li>Error validation added: if a proposal for the same call with the same title and applicant exists informs the
            user
        </li>
        <li>Improved formatting of Budget details</li>
        <li>Added validation to ensure 5 keywords added</li>
        <li>Tested large file storage</li>
        <li>Tested file access from edit and static views</li>
        <li>Added png logo</li>
        <li>Added overarching project supervisor organisations and application gender to static view</li>
        <li>Changed format of call closing date in proposal form</li>
        <li>Changed format of PhD date format required</li>
        <li>Fixed bug: saving draft and submitting of proposal</li>
        <li>Fixed bug: export of proposal to evaluation Excel spreadsheet</li>
    </ul>

    <h2>Version deployed on 05/12/2019</h2>
    We've been testing and fixing open issues from Github:
    <ul>
        <li>Created PAF 2020 call</li>
        <li>Changed format of budget details box and wording</li>
        <li>Added warning text about date formatting</li>
        <li>Added "phd date" text box with validation</li>
        <li>Set up production stack</li>
        <li>Added field to allow optional call questions</li>
        <li>Fixed problems with editing of applicant / overarching person</li>
        <li>Fixed problem of large file upload</li>
        <li>Added link to the proposal from the Management - Proposal View. SPI can send the link to applicants if they
            lose it
        </li>
    </ul>
    Still to do:
    <ul>
        <li>Write error page for if proposal submitted with the same title, applicant and call</li>
        <li>Test large file uploads work on server</li>
        <li>Set-up file backup to AWS</li>
        <li>Improve the view of budget section</li>
    </ul>
    <h2>Version deployed on 04/12/2019</h2>
    We've been testing and trying to fix open issues from Github, with particular emphasis on texts:
    <ul>
        <li>Changed options in database vocab lists</li>
        <li>Changed position of "career stage" in applicant section of proposal form</li>
        <li>Changed or corrected public-facing text</li>
        <li>Moved position of "overarching project" section in proposal form</li>
        <li>Added "organisation" to overarching project supervisor in proposal form</li>
        <li>Changed "data policy" to "privacy policy"</li>
        <li>Made texts specific to Polar Access Fund call</li>
        <li>Changed texts that appear after "Save draft" or "Submit"</li>
    </ul>
    <h2>Version deployed on 02/12/2019</h2>
    We've been testing and trying to fix open issues from Github:
    <ul>
        <li>Added "organisation" in the Proposal Partners</li>
        <li>Improved "Save Draft" / "Submit" or "Save" to avoid confusions when testing</li>
        <li>Fixed error when a Proposal Partner required field was empty and the applicant pressed "Submit" or "Save
            Draft"
        </li>
        <li>Uses consistent format of dates and specifies "Swiss time"</li>
    </ul>

    <h2>Version deployed on 29/11/2019</h2>

    We have implemented some of these things after talking with Basil, Danièle and Laurence. Please let us know if it's
    not what you expected.
    <ul>
        <li>New organisation list available</li>
        <li>Now an applicant can create organisation names (an organisation can have multiple names). This allows
            applicants to enter organisations that are not in the system, and it will also allow us to create reports
            (the management part to link organisation names and organisations is not done yet, it will be done after
            the release for the Polar Access Fund).
        </li>
        <li>Improved texts after the application Submission or Save Draft</li>
        <li>For the budget: thousands separator as ' is accepted (and displayed)</li>
        <li>"<strong>*</strong>" are not displayed in the Funding organisations table column names (it was confusing
            because
            it's not a mandatory field)
        </li>
        <li>Better error handling for files (if the object storage is not available it saves the application and shows a
            message to the user regarding the file)
        <li>Added overarching project for calls such as Polar Access Fund</li>
        <li>High-altitude typo corrected</li>
        <li>When creating a call, data policy changed to privacy policy</li>

        <li>Known bug: if an applicant attaches a file into a proposal and the proposal cannot be validated (e.g. wrong
            dates, missing fields, etc): the applicant might need to attach the file again
        </li>
        <li>Known bug: (thanks Basil!) it's not possible to create a call using Microsoft Edge
        </li>
        <li>Known important missing feature: add organisation to the proposal partners</li>
    </ul>

    Also see the
    <a href="https://github.com/Swiss-Polar-Institute/project-application/issues?q=is%3Aopen+is%3Aissue+label%3A%22polar+access+fund%22">issues
        to be fixed before the
        Polar Access Fund release</a> and the
    <a href="https://github.com/Swiss-Polar-Institute/project-application/issues">full list of issues.</a>

    <p></p>
    <div class="fixed-bottom">
        <span class="text-muted"><small>Version: {% version_date %}</small></span>
    </div>
{% endblock %}
