{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}

{% block contents %}
    <h1>Lists</h1>

    <ul>
        <li><a href="{% url 'logged-proposal-list' %}">Proposals</a></li>
        <li><a href="{% url 'logged-project-list' %}">Projects</a></li>
        <li><a href="{% url 'logged-person-position-list' %}">People</a></li>
    </ul>
{% endblock %}
