{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}
{% block subtitle %}Lists{% endblock %}

{% block contents %}
    <h1>Lists</h1>

    <ul>
        <li><a href="{% url 'logged-proposal-list' %}">Lists proposals</a></li>
        <li><a href="{% url 'person-position-list' %}">Lists people</a></li>
    </ul>
{% endblock %}
