{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}

{% block contents %}
    <h1>Lists</h1>

    <ul>
        <li><a href="{% url 'logged-proposal-list' %}">List Proposals</a></li>
        <li>Projects
            <ul>
                <li><a href="{% url 'logged-project-list' %}">List Projects</a></li>
                <li><a href="{% url 'logged-grant_management-project-add' %}">Create Project</a></li>
            </ul>
        </li>
        <li>People
            <ul>
                <li><a href="{% url 'logged-person-position-list' %}">List People</a></li>
                <li><a href="{% url 'logged-person-position-add' %}">Create Person</a></li>
            </ul>
        </li>
        <li>
            Users
            <ul>
                <li><a href="{% url 'logged-user-list' %}">List Users</a></li>
                <li><a href="{% url 'logged-user-add' %}">Create userr</a></li>
            </ul>
        </li>
        <li>Financial Keys
            <ul>
                <li><a href="{% url 'logged-financial-key-list' %}">List Financial keys</a></li>
                <li><a href="{% url 'logged-financial-key-update' %}">Create Financial Key</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
