{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>News</h1>
            <table id="list-of-funding-instruments" class="table table-stripped table-sm table-hover display">
                <thead>
                <tr>
                    <th>What</th>
                    <th>Date</th>
                </tr>
                </thead>

                <tbody>
                {% for notable_event in notable_events %}
                    <tr>
                        <td>{{ notable_event.description }}</td>
                        <td data-sort="{{ notable_event.date|date:"Y-m-d" }}">{% include 'common/_date-or-dash.tmpl' with date=notable_event.date %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <script type="text/javascript" class="init">
                $(document).ready(function () {
                    $('table.display').DataTable({
                            "pageLength": 100
                        }
                    );
                });
            </script>
        </div>
        <div class="col-2">

        </div>
    </div>
{% endblock %}
