{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}

{% block contents %}
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab">Projects</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
            <h1>Overview news</h1>
            {% include 'logged/_news_overview-list.tmpl' %}
        </div>
        <div class="tab-pane fade" id="projects" role="tabpanel">
            <h1>Projects news</h1>
            {% include 'logged/_news_projects-list.tmpl' %}
        </div>
    </div>
{% endblock %}
