{% extends 'logged/_base_with_menus.tmpl' %}
{% load git_commit %}
{% load static %}

{% block contents %}
    This is work in progress - if it's more useful the visualization could be in the form of a
    <a href="https://jscharting.com/examples/chart-types/calendar/event-list/">calendar view</a> or a
    <a href="https://observablehq.com/@tezzutezzu/world-history-timeline">timeline</a>.<br>
    Let me know if any other information would be useful here.
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'projects' %}active{% endif %}" id="projects-tab" data-toggle="tab" href="#projects" role="tab">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'calls' %}active{% endif %}" id="calls-tab" data-toggle="tab" href="#calls" role="tab">Calls</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade {% if active_tab == 'projects' %}active show{% endif %}" id="projects" role="tabpanel">
            <h1>Project news</h1>
            {% include 'logged/_news_project-list.tmpl' with news=project_news %}
        </div>
        <div class="tab-pane fade {% if active_tab == 'calls' %}active show{% endif %}" id="calls" role="tabpanel">
            <h1>Call news</h1>
            {% include 'logged/_news_call-list.tmpl' with news=call_news %}
        </div>
    </div>
    &nbsp;
    <p>
        News from the last 7 days to the future.
    </p>

    <script type="text/javascript" src="{% static 'js/tab_url.js' %}"></script>
{% endblock %}
