{% extends 'logged/_base_with_menus.tmpl' %}
{% load request_is_management %}

{% block contents %}
    <h1>Projects</h1>
    <p></p>
    {% if projects %}
        <table id="list-of-projects" class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th>Key</th>
                <th>Title</th>
                <th>Principal Investigator</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.key }}</td>
                    <td>{{ project.title }}</td>
                    <td>{{ project.principal_investigator.person }}</td>
                    <td>{{ project.status }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-project-detail' pk=project.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No projects to be displayed
    {% endif %}

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('table.display').DataTable({
                "pageLength": 100,
                "columns": [
                    {"width": "10%"},
                    {"width": "50%"},
                    {"width": "20%"},
                    {"width": "10%"},
                    {"width": "10%"}
                ],
                "searchHighlight": true
            });
        });
    </script>
    <p></p>
{% endblock %}
