{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h2>{{ project.title }}</h2>

            <strong>Status:</strong> {{ project.status }}<br>
            <strong>Call:</strong> <a href="{% url 'logged-call-detail' pk=project.call.id %}">{{ project.call.long_name }}</a><br>

            <p></p>

            <h3>Principal investigator</h3>
            {{ project.principal_investigator.academic_title }} {{ project.principal_investigator.person }} <br>
            <strong>Email:</strong> <a href="mailto:{{ project.principal_investigator.main_email }}">{{ project.principal_investigator.main_email }} </a><br>
            <strong>Organisations:</strong> {% include 'common/_organisation-list.tmpl' with organisations=project.principal_investigator.organisations_ordered_by_name %}

            <p></p>

            <h3>Project details</h3>

            <div class="row">
                <div class="col-5">
                    <strong>Start date:</strong> {{ project.start_date }}<br>
                </div>
                <div class="col-5">
                    <strong>End date:</strong> {{ project.end_date }}<br>
                </div>
            </div>
            <strong>Allocated budget:</strong> {{ project.allocated_budget }} CHF<br>
            <strong>Geographical focus:</strong> {% for area in project.geographical_areas.all %}
                {{ area }}{% if not forloop.last %}, {% endif %}
                {% endfor %}<br>
            <strong>Precise region:</strong> {{ project.location }}<br>
            <strong>Keywords:</strong> {{ project.keywords_enumeration }}<br>

            <p></p>

            {% if project.call.overarching_project_question %}
                 <h3>Overarching project</h3>
                 {% include 'common/_project_overarching.tmpl' with overarching_project=project.proposal.overarching_project %}
            {% endif %}

            <p></p>

            <strong>Project created:</strong> {{ project.created_on }}<br>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'logged-proposal-detail' pk=project.proposal.id %}">View Proposal</a>
        </div>
    </div>

{% endblock %}