{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% load thousands_separator %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h2>{{ project.title }}</h2>
            {% include 'grant_management/_project_summary-detail.tmpl' with project=project %}
            <p></p>
            <h3>Principal investigator</h3>
            {% include 'common/_person_position_with_orcid.tmpl' with person_position=project.principal_investigator %}<br>
            <strong>Email:</strong> {% include 'common/_email_link_or_dash.tmpl' with email=project.principal_investigator.main_email %}<br>
            <strong>Organisations:</strong> {% include 'common/_organisation-list.tmpl' with organisations=project.principal_investigator.organisations_ordered_by_name %}

            <p></p>

            <h3>Project details</h3>

            <div class="row">
                <div class="col-5">
                    <strong>Start date:</strong> {{ project.start_date }}<br>
                </div>
                <div class="col-5">
                    <strong>End date:</strong> {{ project.end_date }}<br>
                </div>
            </div>
            <strong>Allocated budget:</strong> {{ project.allocated_budget|thousands_separator }} CHF<br>
            <strong>Geographical focus:</strong> {{ project.geographical_areas_enumeration }}<br>
            <strong>Precise region:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.location %}<br>
            <strong>Keywords:</strong> {{ project.keywords_enumeration }}<br>

            <p></p>

            {% if project.proposal and project.call.overarching_project_question %}
                <h3>Overarching project</h3>
                {% include 'common/_project_overarching.tmpl' with overarching_project=project.proposal.overarching_project %}
            {% endif %}

            <p></p>

            <strong>Project created:</strong> {{ project.created_on }}<br>
            <hr>
            {% include 'comments/_comments-attachments.tmpl' %}
        </div>
        <div class="col-2">
            {% include 'logged/_proposal_button.tmpl' with project=project %}
        </div>
    </div>

{% endblock %}