{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% load request_is_management %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% include 'common/_proposal-detail.tmpl' %}
            {% if request|request_is_management %}
                <hr>
                {% include 'comments/_comments-attachments.tmpl' %}
            {% endif %}
        </div>
        <div class="col-2">
            <p>
                <a class="btn btn-primary" href="{% url 'proposal-detail-pdf' uuid=proposal.uuid %}"><i
                        class="fas fa-download"></i> Download as
                    PDF</a>
            </p>

            <p>
                <a class="btn btn-primary" href="{% url 'proposal-detail-zip' uuid=proposal.uuid %}"><i
                        class="fas fa-download"></i> Download as
                    ZIP</a>
            </p>

            <p>
                {% if request|request_is_management %}
                    {% if update_files_enabled %}
                        <a class="btn btn-primary"
                           href="{% url 'logged-call-proposal-detail-update-files' pk=proposal.id %}">
                            Edit files</a>
                    {% else %}
                        <a class="btn btn-primary disabled" href="#">Edit files</a><br>
                        <em>({{ reason_update_files_disabled }})</em>
                    {% endif %}
                {% endif %}
            </p>

            {% if request|request_is_management %}
                {% include 'comments/_comments-attachments-compact-list.tmpl' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
