{% extends 'logged/_base_with_menus.tmpl' %}
{% load request_is_management %}

{% block contents %}
    <h1>Proposals</h1>
    {% if reviewer %}
        <strong>Reviewer:</strong> {{ reviewer }}<br>
        <strong>Calls with access:</strong>
        {% for call in reviewer_calls_access %}{{ call.long_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    {% elif request|request_is_management %}
        All proposals from all calls
    {% endif %}
    <p></p>
    {% if proposals %}
        <style>
            /** The buttons "Edit" and "View" in the Actions column should always be in the same line */
            #list-of-proposals td:nth-child(6) {
                white-space: nowrap;
            }
        </style>

        <table id="list-of-proposals" class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th>Call</th>
                <th>Title</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Eligible</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>{{ proposal.call.long_name }}</td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.applicant.person }}</td>
                    <td>{% include 'logged/_proposal_status_badge.tmpl' with status_name=proposal.proposal_status.name only %}</td>
                    <td>{% include 'common/_eligiblecheck.tmpl' with eligibility=proposal.eligibility %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-proposal-detail' pk=proposal.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No proposals to be displayed
    {% endif %}
    <p>
        <a class="btn btn-primary btn-sm"
           href="{% url 'logged-export-proposals-csv-summary-all' %}">Export as CSV</a>
        {% if reviewer %}
            {# We don't want to allow to export *all* the proposals into a Zip: there are many#}
            {# Reviewers have access to a subset of them so they can export their subset.#}
            <a class="btn btn-primary btn-sm"
               href="{% url 'logged-export-proposals-zip-all' %}"><i
                        class="fas fa-download"></i> Download as ZIP</a>
        {% endif %}
    </p>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('table.display').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"],
                        [1, "asc"]],
                    "searchHighlight": true
                }
            );
        });
    </script>
    <p></p>
{% endblock %}
