{% extends 'logged/_base_with_menus.tmpl' %}
{% load request_is_management %}
{% block subtitle %}Proposal list{% endblock %}

{% block contents %}
    <h1>Proposals</h1>
    {% if call_filter %}
        For call: <a href="{% url 'logged-call-detail' id=call_filter.id %}">{{ call_filter.long_name }}</a>
    {% elif reviewer %}
        For reviewer: {{ reviewer }}<br>
        Calls with access: {% for call in reviewer_calls_access %}{{ call.long_name }}{% endfor %}
    {% else %}
        All calls
    {% endif %}
    <p></p>
    {% if proposals %}
        <style>
            /** The buttons "Edit" and "View" in the Actions column should always be in the same line */
            #list-of-proposals td:nth-child(6) {
                white-space: nowrap;
            }
        </style>

        <table id="list-of-proposals" class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th>Call</th>
                <th>Title</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Eligible</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>{{ proposal.call.long_name }}</td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.applicant.person }}</td>
                    <td>{{ proposal.proposal_status.name }}</td>
                    <td>{% include 'common/_eligiblecheck.tmpl' with eligibility=proposal.eligibility %}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-proposal-detail' id=proposal.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No proposals to be displayed
    {% endif %}
    <p>
        {% if call_filter %}
            <a class="btn btn-primary btn-sm"
               href="{% url 'logged-export-proposals-csv-summary-call' call=call_filter.id %}">Export as CSV</a>
        {% else %}
            <a class="btn btn-primary btn-sm"
               href="{% url 'logged-export-proposals-csv-summary-all' %}">Export as CSV</a>
        {% endif %}
    </p>


    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('table.display').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"],
                        [1, "asc"]]
                }
            );
        });
    </script>
    <p></p>
{% endblock %}
