{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% load request_is_management %}
{% block subtitle %}Proposal{% endblock %}

{% block contents %}
    <div class="container-fluid">
        <br>
        {% include 'common/_messages-box.tmpl' %}
        <div class="row">
            <div class="col-10">

                {% include 'common/_proposal-detail.tmpl' %}
                {% if request|request_is_management %}
                    <hr>
                    {% include 'comments/_comments-attachments.tmpl' %}
                {% endif %}
            </div>
            <div class="col-2">
                {% if request|request_is_management %}
                    <p>
                        {% include 'evaluation/_eligibility_decision-form.tmpl' %}
                    </p>
                    {% if proposal.can_be_evaluated %}
                        <a class="btn btn-primary"
                           href="{% url 'logged-proposal-evaluation-detail' id=proposal.proposalevaluation.id %}"
                           role="button">View Evaluation</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
