{% extends 'logged/_base_with_menus.tmpl' %}
{% block subtitle %}Template question{% endblock %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Template question details</h1>

            <p></p>
            <p><strong>Question:</strong><br>{{ object.question_text }}</p>
            <p><strong>Question description:</strong><br>{{ object.question_description }}</p>
            <p><strong>Answer type:</strong><br>{{ object.answer_type }}</p>
            <p><strong>Question max words:</strong><br>{% if object.answer_max_length %}
                {{ object.answer_max_length }} {% else %}
                Unlimited {% endif %}</p>
            <p><strong>Answer is
                required:</strong> {% include 'common/_check-icon.tmpl' with value=object.answer_required %}</p>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'template-question-update' pk=object.id %}">Edit template question</a>
        </div>
    </div>
{% endblock %}
