{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% block subtitle %}Template question{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% if form.instance.id %}
                <h1>Edit template question</h1>
            {% else %}
                <h1>Create template question</h1>
            {% endif %}

            {% crispy form %}
        </div>
        {% if form.instance.id %}
            <div class="col-2">
                <a class="btn btn-primary" href="{% url 'template-question-detail' pk=object.id %}">View template
                    question</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
