{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>Template question details</h1>

            <p></p>
            <strong>Question:</strong> {{ template_question.question_text }}<br>
            <strong>Question description:</strong> {{ template_question.question_description }}<br>
            <strong>Answer type:</strong> {{ template_question.answer_type }}<br>
            {% if template_question.answer_type == 'Text' %}
                <strong>Question max words:</strong> {% if template_question.answer_max_length %}
                {{ template_question.answer_max_length }} {% else %}
                Unlimited {% endif %}<br>
            {% endif %}
            <strong>Answer is
                required:</strong> {% include 'common/_check-icon.tmpl' with value=template_question.answer_required %}<br>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'logged-template-question-update' pk=template_question.id %}">Edit
                Template Question</a>
        </div>
    </div>
{% endblock %}
