{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% block subtitle %}Template question{% endblock %}

{% block contents %}
    {% if form.instance.id %}
        <h1>Edit template question</h1>
    {% else %}
        <h1>Create template question</h1>
    {% endif %}

    {% crispy form %}
    <br>
{% endblock %}
