{% extends 'logged/_base_with_menus.tmpl' %}

{% block contents %}
    <h1>Template questions</h1>
    {% if template_questions %}
        <table class="table table-stripped table-sm table-hover display">
            <thead>
            <tr>
                <th>Question</th>
                <th>Answer type</th>
                <th>Max words</th>
                <th>Optional</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for template_question in template_questions %}
                <tr>
                    <td>{{ template_question.question_text }}</td>
                    <td>{{ template_question.answer_type }}</td>
                    <td>{% if template_question.answer_max_length %}
                        {{ template_question.answer_max_length }}{% endif %}</td>
                    <td>{% include 'common/_check-icon.tmpl' with value=template_question.answer_required %}</td>
                    <td><a class="btn btn-primary btn-xs"
                           href="{% url 'logged-template-question-update' pk=template_question.id %}">Edit</a>
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'logged-template-question-detail' pk=template_question.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No questions entered in the system
    {% endif %}
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('table.display').DataTable({
                    "pageLength": 100,
                    "searchHighlight": true
                }
            );
        });
    </script>
    <br>
{% endblock %}
