{% extends 'logged/_base_with_menus.tmpl' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% if form.instance.id %}
                <h1>Edit user</h1>
            {% else %}
                <h1>Create user</h1>
            {% endif %}

            {% crispy form %}
        </div>
        <div class="col-2">
            {% if form.instance.id %}
                <p>
                    <a class="btn btn-primary" href="{% url 'logged-user-detail' pk=form.instance.id %}">View User</a>
                </p>
            {% endif %}
        </div>
    </div>
    <script>
        function displayHidePhysicalPerson() {
            let is_reviewer = $("input[name='type_of_user']:checked").val() === 'reviewer';

            let reviewer_div = $('.reviewer_information');
            let management_div = $('.management_information');

            console.log(reviewer_div);
            console.log(management_div);

            if (is_reviewer) {
                reviewer_div.show(500);
                management_div.hide(500);
            } else {
                reviewer_div.hide(500);
                management_div.show(500);
            }
            // The asteriskField is not hidden because all the div is hidden
            // if the user is a management user
            $('#id_physical_person').attr('required', is_reviewer)
        }

        $(document).ready(function () {
            displayHidePhysicalPerson();
        });

        $('#id_type_of_user_1').change(displayHidePhysicalPerson);
        $('#id_type_of_user_2').change(displayHidePhysicalPerson);
    </script>
{% endblock %}
