boto3==1.10.12
botocore==1.13.12
coverage==4.5.4
Django==2.2.6
django-autocomplete-light==3.5.1
django-crispy-forms==1.8.1
django-debug-toolbar==2.0
django-storages==1.7.2
docutils==0.15.2
gunicorn==19.9.0
jmespath==0.9.4
mysqlclient==1.4.4
python-dateutil==2.8.0
pytz==2019.2
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.6
XlsxWriter==1.2.2
