<div id="{{ prefix }}Accordion">
    <div class="card">
        <div class="card-header {{ padding }}">
            <h5 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ prefix }}">
                        <span class="if-collapsed">{{ button_text_collapsed }}
                            {% if count is not None %}({{ count }}){% endif %}</span>
                    <span class="if-not-collapsed">{{ button_text_not_collapsed }}</span>
                </button>
            </h5>
        </div>

        <div id="{{ prefix }}" class="collapse hidden d-print-block"
             data-parent="#{{ prefix }}Accordion">
            <div class="well">
                <div class="card-body {% if padding_body %}{{ padding_body }}{% else %}{{ padding }}{% endif %}">
                    {% include template_file %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Fixes sizes of columns if this table is going to appear in a accordion
    $('#{{ prefix }}').on('shown.bs.collapse', function (e) {
        $($.fn.dataTable.tables(true)).css('width', '100%');
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
    });
</script>