<div id="{{ prefix }}Accordion">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#{{ prefix }}">
                    {{ button_text }}
                </button>
            </h5>
        </div>

        <div id="{{ prefix }}" class="collapse hidden d-print-block"
             data-parent="#{{ prefix }}Accordion">
            <div class="card-body">
                {% include template_file %}
            </div>
        </div>
    </div>
</div>
