{% load request_is_management %}

<h3>Applicant</h3>
{% with applicant=proposal.applicant %}
    {% include 'common/_orcid_detail.tmpl' with orcid=applicant.person.orcid %} {{ applicant.academic_title }}
    {{ applicant.person.first_name }} {{ applicant.person.surname }} (Gender:
    {% include 'common/_value-or-dash.tmpl' with value=applicant.person.gender %})
    <br>
    <strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a>
    <br>
    <strong>Organisations:</strong>
    {% include 'common/_organisation-list.tmpl' with organisations=applicant.organisations_ordered_by_name %}
    <br>
    <strong>Group / lab:</strong> {{ applicant.group }}<br>
    <div class="row">
        <div class="col-8">
            <strong>Career stage:</strong> {{ applicant.career_stage }}
        </div>
        <div class="col-4">
            <strong>Date of
                PhD:</strong> {% include 'common/_value-or-dash.tmpl' with value=applicant.person.phd_date_formatted %}
        </div>
    </div>
{% endwith %}