{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery -->
    <script type="text/javascript" src="{% static 'external/jquery/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/jquery-ui/jquery-ui.css' %}">

    <!-- jquery-ui for datetime picker -->
    <script type="text/javascript" src="{% static 'external/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Bootstrap after jquery-ui: else the tooltips are the wrong ones and the API to use them is different -->
    <script type="text/javascript" src="{% static 'external/popper/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'external/bootstrap/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'external/bootstrap/bootstrap.min.css' %}">

    <!-- Sorting tables -->
    <link rel="stylesheet" type="text/css" href="{% static 'external/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'external/datatables/responsive.bootstrap4.min.css' %}">

    <script type="text/javascript" src="{% static 'external/datatables/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'external/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'external/datatables/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'external/datatables/responsive.bootstrap4.min.js' %}"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <!-- Local CSS and JS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/css.css' %}">
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>

    <!-- Next block for django horizontal_filter in forms -->
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Cookie alert css -->
    <link rel="stylesheet" type="text/css" href="{% static 'external/bootstrap-cookies-alert/cookiealert.css' %}">

    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    -->

    {% block extra_head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body{% block body_attributes %}{% endblock %}>
{% block body_contents %}
{% endblock %}
{% include 'common/_cookiesalert.tmpl' %}
<script type="text/javascript" src="{% static 'js/disable_mouse_wheel_input.js' %}"></script>
<script type="text/javascript" src="{% static 'js/initialise_tooltips_popovers.js' %}"></script>
</body>
</html>