<script type="text/javascript" class="init">
    $(document).ready(() => {
        // Enable tabs (as said in the Bootstrap documentation)
        let tab_id = '#{{ tab_name }}';
        $(tab_id + ' a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        // https://webdesign.tutsplus.com/tutorials/how-to-add-deep-linking-to-the-bootstrap-4-tabs-component--cms-31180
        let url = location.href.replace(/\/$/, "");

        if (location.hash) {
            const hash = url.split("#");
            $(tab_id + ' a[href="#' + hash[1] + '"]').tab("show");
            url = location.href.replace(/\/#/, "#");
            history.replaceState(null, null, url);
        }

        $('a[data-toggle="tab"]').on("click", function () {
            let newUrl;
            const hash = $(this).attr("href");
            newUrl = url.split("#")[0] + hash;
            history.replaceState(null, null, newUrl);
        });
    });
</script>
