{% load static %}

<button id="{{ id }}" class="unstyled-button"
        data-clipboard-text="{{ text }}"><i
        class="far fa-clipboard"></i></button>

<script type="text/javascript" src="{% static 'external/clipboard/clipboard.min.js' %}"></script>
<script>
    $('#{{ id }}').tooltip({
        trigger: 'click',
        placement: 'bottom'
    });

    function setTooltip(button, message) {
        $(button).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip(button) {
        setTimeout(function () {
            $(button).tooltip('hide');
        }, 1000);
    }

    var options = {};

    {% if container %}
        alert('this has container');
        options['container'] = document.getElementById('{{ container }}');
    {% endif %}
    console.log(options);
    new ClipboardJS('#{{ id }}', options).on('success', function (e) {
        setTooltip(e.trigger, 'Copied!');
        hideTooltip(e.trigger);
    }).on('error', function (e) {
        setTooltip(e.trigger, 'Failed!');
        hideTooltip(e.trigger);
    });
</script>
