{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{{ form_set.management_form }}
{% if form_set.non_form_errors %}
    {{ form_set|as_crispy_errors }}
{% endif %}

<table id="{{ form_set.prefix }}" class="table table-striped table-sm">
    <tbody>
    {% for form in form_set %}
        <tr>
            <td>
                {% crispy form %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'external/formset/jquery.formset.js' %}"></script>

<script>
    let jQueryForFormset = $.noConflict();
    {#jquery.formset doesn't work with jQuery 3 that we are using in the application#}
    {#Here we load the older one, we use for the formset but we let the $ be the newer version#}

    function attach_xdsoft_date_time_picker(row) {
        $(row).find('.xdsoftyearmonthdaypickerinput').each(function (i, value) {
                $(value).datetimepicker(
                    {
                        {% include 'widgets/xdsoft_year_month_day_picker_js_properties.tmpl' %}
                    }
                );
            }
        );

        $(row).find('.xdsoftyearmonthpickerinput').each(function (i, value) {
                $(value).datetimepicker(
                    {
                        {% include 'widgets/xdsoft_year_month_picker_js_properties.tmpl' %}
                    }
                );
            }
        );

        $(row).find('.xdsoftyearmonthdayhourminutepickerinput').each(function (i, value) {
                $(value).datetimepicker(
                    {
                        {% include 'widgets/xdsoft_year_month_day_hour_minute_picker_js_properties.tmpl' %}
                    }
                );
            }
        );
    }

    function addedRow(row) {
        attach_xdsoft_date_time_picker(row);
        make_fields_writable(row);
        hide_delete_links();
    }

    function make_fields_writable(row) {
        $(row).find(":input").each(function (i, value) {
            $(value).attr('disabled', false);
        });
    }

    function hide_delete_links() {
        // TODO: 'delete-row' comes from formset jQuery
        $("#{{ form_set.prefix }} tbody td").each(function (i, td) {
            let can_be_deleted = $(td).find(".can_be_deleted input").val();

            if (can_be_deleted === "0") {
                $(td).find(".delete-row").each(function (i, delete_row) {
                    $(delete_row).hide();
                });
            }
        });
    }

    jQueryForFormset(function () {
        jQueryForFormset('#{{ form_set.prefix }} tbody tr').formset({
            prefix: '{{ form_set.prefix }}',
            added: addedRow
        });
        hide_delete_links();
    });
</script>
