{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{{ form_set.management_form }}
{% if form_set.non_form_errors %}
    {{ form_set|as_crispy_errors }}
{% endif %}

<table id="{{ form_set.prefix }}" class="table table-striped table-sm">
    <tbody>
    {% for form in form_set %}
        <tr>
            <td>
                {% crispy form %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'external/formset/jquery.formset.js' %}"></script>

<script>
    function clean_up_file_fields(row) {
        let file_inputs = $(row).find(".clearablefileinput");

        $(file_inputs).each(function (i, file_input) {
            let div = $(file_input).parent();

            // Deletes all the text
            $(div).contents()
                .filter(function () {
                    return this.nodeType === Node.TEXT_NODE;
                }).remove();

            $(div).find("a").remove();

            $(div).find(":checkbox").remove();

            $(div).find("label").remove();

            $(div).find("br").remove();
        });
    }

    function attach_xdsoft_date_time_picker(row) {
        $(row).find('.xdsoftyearmonthdaypickerinput').each(function (i, value) {
                $(value).datetimepicker(
                    {
                        {% include 'widgets/xdsoft_year_month_day_picker_js_properties.tmpl' %}
                    }
                );
            }
        );

        $(row).find('.xdsoftyearmonthpickerinput').each(function (i, value) {
                $(value).datetimepicker(
                    {
                        {% include 'widgets/xdsoft_year_month_picker_js_properties.tmpl' %}
                    }
                );
            }
        );

        $(row).find('.xdsoftyearmonthdayhourminutepickerinput').each(function (i, value) {
                $(value).datetimepicker(
                    {
                        {% include 'widgets/xdsoft_year_month_day_hour_minute_picker_js_properties.tmpl' %}
                    }
                );
            }
        );
    }

    function clean_autocomplete_fields(row) {
        $(row).find('.select2-selection').empty();
    }

    function make_fields_writable(row) {
        $(row).find(":input").attr("disabled", false);
    }

    function hide_delete_links(formset_prefix) {
        // TODO: 'delete-row' comes from formset jQuery Modelset, populate here from jQuery Modelset
        $("#" + formset_prefix + " tbody td").each(function (i, td) {
            let can_be_deleted = $(td).find(".can_be_deleted input").val();
            if (can_be_deleted === "0") {
                $(td).find(".delete-row").each(function (i, delete_row) {
                    $(delete_row).hide();
                });
            }
        });
    }

    function clean_help_text_errors(row) {
        $(row).find(".is-invalid").removeClass('is-invalid')
        $(row).find(".invalid-feedback").remove();
    }

    {# This variable needs to be "var" (or nothing) but not const or let. The _dynamic_formset.tmpl can be included #}
    {# multiple times in the samge page. #}
    var jQueryForFormset = $.noConflict(true);
    {#jquery.formset doesn't work with jQuery 3 that we are using in the application#}
    {#Here we load the older one, we use for the formset but we let the $ be the newer version#}

    jQueryForFormset(function () {
        jQueryForFormset('#{{ form_set.prefix }} tbody tr').formset({
            prefix: '{{ form_set.prefix }}',
            added: function (row) {
                // Not in a function because multiple _dynamic_formset.tmpl might exist and hide_delete_links are
                // different for each one. Javascript having a global scope for the functions is a reason to have
                // this anonymous function
                attach_xdsoft_date_time_picker(row);
                make_fields_writable(row);
                hide_delete_links("{{ form_set.prefix }}");
                clean_up_file_fields(row);
                clean_autocomplete_fields(row);
                clean_help_text_errors(row);
            }
        });
        hide_delete_links("{{ form_set.prefix }}");
    });
</script>
