{% load static %}
<script type="text/javascript" src="{% static 'external/clipboard/clipboard.min.js' %}"></script>
<script>
    $({{ selector }}).tooltip({
        trigger: 'click',
        placement: 'bottom'
    });

    function setTooltip(message) {
        $('{{ selector }}').tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip() {
        setTimeout(function () {
            $('{{ selector }}').tooltip('hide');
        }, 1000);
    }

    // Clipboard
    var clipboard = new ClipboardJS('{{ selector }}');

    clipboard.on('success', function (e) {
        setTooltip('Copied!');
        hideTooltip();
    });

    clipboard.on('error', function (e) {
        setTooltip('Failed!');
        hideTooltip();
    });

</script>
