{% load filename_from_path %}
{% load filesizeformat_safe %}

{% if file_field %}<a
        data-toggle="tooltip" title="{{ file_field.name|filename_from_path }}"
        href="{{ file_field.url }}"><i class="fas fa-download"></i> {{ file_field.name|short_filename_from_path }}</a> ({{ file_field|filesizeformat_safe }}
    )
{% else %}
    -
{% endif %}
