{% load static %}
{% load crispy_forms_tags %}
<p>
    Please outline the status of other sources of funding.
    (select an Organisation name or type the organisation and click on "Create")
</p>
{% crispy funding_form %}

<script src="{% static 'external/formset/jquery.formset.js' %}"></script>
<script>
    $(function () {
        $('#funding_form_table tbody tr').formset({
            prefix: 'funding_form'
        })
    })
</script>

<style>
    #funding_form_table .asteriskField {
        display: none;
    }
</style>