{% load static %}
{% load crispy_forms_tags %}

Please add the following details describing the overarching project to which this proposed {{ activity }} would contribute.
<p></p>
{% crispy project_overarching_form %}

<script type="text/javascript" src="{% static 'js/orcid.js' %}"></script>

<script>
    setupOrcidLookupForForm('{{ project_overarching_form.prefix }}', 'person__physical_person__orcid', 'person__physical_person__first_name', 'person__physical_person__surname');
</script>
