{% load static %}
{% load crispy_forms_tags %}
<</h1>
<p>
    Please incorporate the proposal partners.
</p>
{% crispy proposal_partners_form %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'external/formset/jquery.formset.js' %}"></script>
<script>
    $(function () {
        $('#proposal_partners_form_table tbody tr').formset({
            prefix: 'proposal_partners_form'
        })
    })
</script>
