{% load static %}
{% load crispy_forms_tags %}
<p>
    Please outline the status of other sources of funding.
</p>
{% crispy funding_form %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
    var jQueryForFormset = $.noConflict();
    {#jquery.formset doesn't work with jQuery 3 that we are using in the application#}
    {#Here we load the older one, we use for the formset but we let the $ be the newer version#}
</script>

<script src="{% static 'external/formset/jquery.formset.js' %}"></script>
<script src="{% static 'external/formset/dynamic_formset_highlight_to_remove_row.js' %}"></script>

<script>
    jQueryForFormset(function () {
        jQueryForFormset('#funding_form_table tbody tr').formset({
            prefix: 'funding_form',
            added: highlight_row_delete_link_hover
        });
        highlight_row_delete_link_hover('#funding_form_table');
    })
</script>

<style>
    #funding_form_table .asteriskField {
        display: none;
    }
</style>