{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<p>
    Please enter the details of all partners involved in the proposal. Include the applicant.<br>
    <strong>If a partner changes: please remove the partner and add a new one instead of editing the partner.</strong>
</p>

{{ proposal_partners_form.management_form }}

{% if proposal_partners_form.non_form_errors %}
    {{ proposal_partners_form|as_crispy_errors }}
{% endif %}

<table id="proposal_partners_form_table" class="table table-striped table-sm">
    <tbody>
    {% for proposal_partner_form in proposal_partners_form %}
        <tr>
            <td>
                {% crispy proposal_partner_form %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'external/formset/jquery.formset.js' %}"></script>
<script>
    $(function () {
        $('#proposal_partners_form_table tbody tr').formset({
            prefix: 'proposal_partners_form'
        })
    })
</script>
