{% load static %}
{% load crispy_forms_tags %}
<p>
    Please enter the proposal partners.
</p>

<table id="proposal_partners_form_table" class="table table-striped table-sm">
    <tbody>
    <tr>
        <td>
            {% for proposal_partner_form in proposal_partners_form %}
                {% crispy proposal_partner_form %}
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'external/formset/jquery.formset.js' %}"></script>
<script>
    $(function () {
        $('#proposal_partners_form_table tbody tr').formset({
            prefix: 'proposal_partners_form'
        })
    })
</script>
