{{ FORM_SET.extra_information }}
<form action="" enctype="multipart/form-data" method="post">
    <h3>{{ title }}</h3>
    <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
    {% include 'common/_dynamic_formset.tmpl' with form_set=FORM_SET human_type=human_type %}

    {% include 'common/_submit-button.tmpl' with value=save_text %}
    {% if force_save_text %}
        {% include 'common/_submit-button.tmpl' with value=force_save_text name='save_force' %}
    {% endif %}
    {% include 'common/_cancel-button.tmpl' with value="Cancel" url=destination_url %}
</form>
