{% load static %}

<script type="text/javascript" src="{% static 'js/orcid.js' %}"></script>

<script type="text/javascript">
    function setup_orcid_lookup(form_prefix, orcid_field, first_name_field, surname_field) {
        $("#div_id_" + form_prefix + "-" + orcid_field + " .input-group-append").click(function () {
            function success(orcid_record) {
                let family_name = orcid_record['person']['name']['family-name'].value;
                let given_names = orcid_record['person']['name']['given-names'].value;

                $('#id_' + form_prefix + '-' + first_name_field).val(given_names);
                $('#id_' + form_prefix + '-' + surname_field).val(family_name);
            }

            function error() {
                alert('Error getting orcid id information');
            }

            let orcid_id = $('#id_' + form_prefix + '-' + orcid_field + '.textinput.textInput.form-control').val()
            getOrcid(orcid_id, success, error);
        });

        $('#id_' + form_prefix + '-' + orcid_field).on('input', function () {
            $('#id_' + form_prefix + '-' + first_name_field).val("");
            $('#id_' + form_prefix + '-' + surname_field).val("");
        });
    }
</script>