{% if orcid %}
    <a href="https://orcid.org/{{ orcid }}"><i class="fab fa-orcid"
                                                   style="color:#a6ce39"></i></a>
{% else %}
    <i class="fab fa-orcid" style="color:#6c757d"></i>
{% endif %}
