{% load static %}
{% load crispy_forms_tags %}
{% crispy person_form %}

<script type="text/javascript" src="{% static 'js/orcid.js' %}"></script>

<script>
    setupOrcidLookup('{{ person_form.prefix }}', 'orcid', 'first_name', 'surname');
</script>
