{% with postal_address=proposal.postal_address %}
    <div class="row">
        <div class="col-4">
            <div class="border p-1 bg-white rounded">
                {% if proposal.postal_address.address %}
                    {{ proposal.postal_address.address|linebreaksbr }}
                {% else %}
                    -
                {% endif %}
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-6">
            <strong>City:</strong> {% include 'common/_value-or-dash.tmpl' with value=postal_address.city %}<br>
            <strong>Postcode:</strong> {% include 'common/_value-or-dash.tmpl' with value=postal_address.postcode %}<br>
            <strong>Country:</strong> {% include 'common/_value-or-dash.tmpl' with value=postal_address.country %}
        </div>
    </div>
{% endwith %}