{% for question_answer in questions_answers %}
    <strong>{{ question_answer.question }}</strong><br>
    {#    @formatter:off#}
    <div class="pre-with-newlines border p-1 bg-white rounded">{% if question_answer.answer %}{{ question_answer.answer }}{% else %}This question has not been answered{% endif %}</div>
    {#    @formatter:on#}
    <br>
{% endfor %}
{% for question_file in questions_files %}
    <strong>{{ question_file.question }}</strong>
    <div class="border p-1 bg-white rounded">
        {% if question_file.proposal_qa_file_id and question_file.file.md5 %}
            {% include 'common/_answer_type-icon.tmpl' with type='File' %} <a
                href="{% url 'proposal-question-answer-file' proposal_qa_file_id=question_file.proposal_qa_file_id md5=question_file.file.md5 %}">{{ question_file.file.name }}</a>
            ({{ question_file.file.size }})
        {% else %}
            File not attached
        {% endif %}
    </div>
    <br>
{% endfor %}
