{% load thousands_separator %}
{% include 'common/_proposal_basic_information-detail.tmpl' %}
{% include 'common/_applicant_basic_information-detail.tmpl' %}
<br>
<h3>Postal address</h3>
{% include 'common/_postal_address.tmpl' %}
<br>
<h3>Proposal details</h3>
<strong>Geographical focus:</strong> {{ proposal.geographical_areas_enumeration }}
<br>
<strong>Precise region:</strong> {% include 'common/_value-or-dash.tmpl' with value=proposal.location %}
<br>
<strong>Keywords:</strong> {{ proposal.keywords_enumeration }}
<div class="row">
    <div class="col-4">
        <strong>Start date:</strong> {{ proposal.start_date }}<br>
    </div>
    <div class="col-4">
        <strong>End date:</strong> {{ proposal.end_date }}<br>
    </div>
    <div class="col-4">
        <strong>Duration months:</strong> {{ proposal.duration_months|floatformat }}<br>
    </div>
</div>
<br>
<h3>Project description</h3>
{% include 'common/_accordion.tmpl' with prefix='project_description' button_text='Project description details' template_file='common/_project_description.tmpl' %}
<br>
{% if proposal_partner_question %}
    <h3>Partners</h3>
    {% include 'common/_accordion.tmpl' with prefix='partners' button_text='Partner details' template_file='common/_table-partners.tmpl' %}
    <br>
{% endif %}

<h3>Budget requested</h3>
<strong>Total requested budget:</strong> {{ proposal.total_budget|thousands_separator }} CHF
<p><strong>Maximum budget:</strong> {{ maximum_budget|thousands_separator }} CHF</p>

{% include 'common/_accordion.tmpl' with prefix='budget' button_text='Budget details' template_file='common/_table-budget.tmpl' %}
<br>

{% if proposal.call.other_funding_question %}
    <h3>Other sources of funding</h3>
    {% include 'common/_accordion.tmpl' with prefix='funding' button_text='Funding details' template_file='common/_table-funding.tmpl' %}
    <br>
{% endif %}

{% if proposal.call.overarching_project_question %}
    <h3>Overarching project</h3>
    {% include 'common/_project_overarching.tmpl' with overarching_project=proposal.overarching_project %}
{% endif %}
<p></p>
<h3>Data agreement</h3>
<strong>Agreed to privacy
    policy:</strong> {% include 'common/_check-icon.tmpl' with value=proposal.applicant.privacy_policy %}<br>
<strong>Agreed to contact
    newsletter:</strong> {% include 'common/_check-icon.tmpl' with value=proposal.applicant.contact_newsletter %}

<hr>
<strong>Proposal created:</strong> {{ proposal.created_on }}<br>
<strong>Proposal last modified:</strong> {{ proposal.modified_on }}
<p></p>