{% load filename_from_path %}

{% if call_part.files %}
    <p></p>
    Files:
    <ul>
    {% for file in call_part.files %}
        <li>{% include 'common/_file_download_link.tmpl' with file=file only %}: {{ file.description }}</li>
    {% endfor %}
    </ul>
{% endif %}
