<br>
{% include "common/_messages-box.tmpl" %}

{% if edit_button %}
    <a class="float-sm-right btn btn-primary d-print-none"
       href="{% url 'management-proposal-update' uuid=proposal.uuid %}">Edit
        proposal</a>
{% endif %}
<h2>{{ proposal.title }}</h2>
<strong>Status:</strong> {{ proposal.proposal_status.name }}<br>
<strong>Call:</strong> {{ call_name }}
<p></p>
<h3>Applicant</h3>
{% with applicant=proposal.applicant %}
    {{ applicant.academic_title }} {{ applicant.person.first_name }} {{ applicant.person.surname }}
    <br>
    <strong>Email:</strong> {{ email }}
    <br>
    <strong>Organisations:</strong>
    {% for organisation in applicant.organisations_ordered_by_name %}
        {{ organisation }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br>
    <strong>Group / lab:</strong> {{ applicant.group }}
{% endwith %}
<p></p>
<h3>Proposal details</h3>
<strong>Geographical areas:</strong>
{% for area in proposal.geographical_areas.all %}
    {{ area }}{% if not forloop.last %}, {% endif %}
{% endfor %}
<br>
<strong>Location:</strong> {% include 'common/_value-or-dash.tmpl' with value=proposal.location %}

<div class="row">
    <div class="col-4">
        <strong>Provisional start date:</strong> {{ proposal.provisional_start_date }}<br>
    </div>
    <div class="col-4">
        <strong>Provisional end date:</strong> {{ proposal.provisional_end_date }}<br>
    </div>
    <div class="col-4">
        <strong>Duration months:</strong> {{ proposal.duration_months|floatformat }}<br>
    </div>
</div>
<br>
<h3>Project description</h3>
{% for question_answer in questions_answers %}
    {{ question_answer.question }}<br>
    <div class="pre-with-newlines border p-3 bg-white rounded">{{ question_answer.answer }}</div>
    <br>
{% endfor %}
{% for question_file in questions_files %}
    {{ question_file.question }}
    <div class="border p-3 bg-white rounded">
        {% if question_file.file %}
            {% if question_file.proposal_qa_file_id and question_file.file.md5 %}
                {% include 'common/_answer_type-icon.tmpl' with type='File' %} <a
                    href="{% url 'proposal-question-answer-file' proposal_qa_file_id=question_file.proposal_qa_file_id md5=question_file.file.md5 %}">{{ question_file.file.name }}</a>
                ({{ question_file.file.size }})
            {% else %}
                    File information missing in the database
            {% endif %}
        {% else %}
            Not attached
        {% endif %}
    </div>
    <br>
{% endfor %}

{% if proposal_partner_question %}
    <h3>Partners</h3>
    {% include 'common/_accordion.tmpl' with prefix='partners' button_text='Partner details' template_file='common/_table-partners.tmpl' %}
    <br>
{% endif %}

<h3>Budget requested</h3>
<strong>Total requested budget:</strong> {{ proposal.total_budget }} CHF
<p><strong>Maximum budget:</strong> {{ maximum_budget }} CHF</p>

{% include 'common/_accordion.tmpl' with prefix='budget' button_text='Budget details' template_file='common/_table-budget.tmpl' %}
<br>

{% if proposal.call.other_funding_question %}
    <h3>Other sources of funding</h3>
    {% include 'common/_accordion.tmpl' with prefix='funding' button_text='Funding details' template_file='common/_table-funding.tmpl' %}
    <br>
{% endif %}

{% if proposal.call.overarching_project_question %}
    <h3>Overarching project</h3>
    {% include 'common/_project_overarching.tmpl' with overarching_project=proposal.overarching_project %}
{% endif %}

<h3>Data agreement</h3>
<strong>Agreed to data
    policy:</strong> {% include 'common/_check-icon.tmpl' with value=proposal.applicant.privacy_policy %}<br>
<strong>Agreed to contact
    newsletter:</strong> {% include 'common/_check-icon.tmpl' with value=proposal.applicant.contact_newsletter %}

<hr>
<strong>Proposal created:</strong> {{ proposal.created_on }}<br>
<strong>Proposal last modified:</strong> {{ proposal.modified_on }}
<p></p>