{% load crispy_forms_tags %}
{% load in_management %}

{% include 'common/_messages-box.tmpl' %}
{% if preview %}
    <div class="alert alert-primary" role="alert">
        This is a preview of the proposal form: it cannot be saved but it can be used to see how it would look for the
        applicants.
    </div>
{% endif %}
<br>
{% if proposal_status_is_draft %}
    <div class="alert alert-secondary" role="alert"><i class="fas fa-info-circle"></i> This proposal is a draft and will
        not be evaluated.
        Click on Submit before the application deadline to ensure your proposal is evaluated.
    </div>
{% endif %}

<p class="text-large"><strong>Call name:</strong> {{ call_name }}</p>

<p class="text-large"><strong>Deadline for
    application:</strong> {{ call_submission_deadline }}</p>

<p class="text-large"><strong>Please complete all mandatory fields and press "Save Draft" or "Submit".</strong></p>

<div class="introductory-message shadow p-1 bg-white rounded">{{ call_introductory_message }}</div>
<br>
<form action="{{ proposal_action_url }}" enctype="multipart/form-data" method="post">
    <h1>Application form</h1>
    <h2>Part {{ part_numbers.general_information }}: General Information</h2>
    <h3>Applicant</h3>
    {% include 'common/_person-form.tmpl' with person_form=person_form %}

    {% include 'common/_form-postal_address.tmpl' %}

    <h3>Proposed {{ activity }}</h3>
    {% crispy proposal_form %}

    {% if overarching_project_question %}
        <h3>Overarching project</h3>
        {% include 'common/_form-project_overarching.tmpl' %}
    {% endif %}

    {% if scientific_clusters_question %}
        <h2>Part {{ part_numbers.scientific_clusters }}: Scientific Cluster of proposed {{ activity }}</h2>
        {% include 'common/_form-proposal-scientific_clusters.tmpl' %}
    {% endif %}

    {#    <h2>Part {{ part_numbers.project_description }}: Proposed {{ activity }} description</h2>#}
    {#    {% include 'common/_form-dynamic_questions.tmpl' %}#}

    {% for part in extra_parts %}
        <h2>Part {{ part.heading_number }}: {{ part.title }}</h2>
        <div class="pre-wrap">{{ part.introductory_text }}</div>
        {% include 'common/_form-dynamic_questions.tmpl' with questions_for_proposal_form=part.questions_for_proposal_form questions_form=part.question_form %}
    {% endfor %}

    {% if proposal_partner_question %}
        <h2>Part {{ part_numbers.roles_competences }}: Roles and competences</h2>
        {% include 'common/_form-proposal_partners.tmpl' %}
    {% endif %}

    {% if budget_question %}
        <h2>Part {{ part_numbers.budget_requested }}: Budget requested</h2>
        {% include 'common/_form-budget.tmpl' %}
    {% endif %}

    {% if other_funding_question %}
        <h2>Part {{ part_numbers.other_sources_of_funding }}: Other sources of funding</h2>
        {% include 'common/_form-funding_organisations.tmpl' %}
    {% endif %}

    <p></p>
    {% crispy data_collection_form %}

    {% if not preview %}
        {% if request|in_management %}
            {% include 'common/_submit-button.tmpl' with value='Save' name='save_changes' %}
        {% else %}
            {% include 'common/_submit-button.tmpl' with value='Save Draft' name='save_draft' %}
            {% include 'common/_submit-button.tmpl' with value='Submit' name='submit' %}

            <p>
                After saving your draft proposal you will be able to edit the proposal until the call deadline.
                Unsubmitted
                drafts will not be evaluated. <br>
                Please make sure to submit the final version of your proposal before the call deadline.
                {% include 'common/_submitted_cannot_modify_text.tmpl' %}
            </p>
        {% endif %}
    {% else %}
        <strong>This is a preview of the proposal form: it cannot be saved.</strong>
    {% endif %}
    <p></p>
</form>