{% load thousands_separator %}
{% include 'common/_proposal_basic_information-detail.tmpl' %}
{% include 'common/_applicant_basic_information-detail.tmpl' %}
<br>
<strong>Professional postal address</strong>
{% include 'common/_postal_address.tmpl' %}

<h3>Part 1: Proposal details</h3>
<strong>Geographical focus:</strong> {{ proposal.geographical_areas_enumeration }}
<br>
<strong>Precise region:</strong> {% include 'common/_value-or-dash.tmpl' with value=proposal.location %}
<br>
<strong>Keywords:</strong> {{ proposal.keywords_enumeration }}
<div class="row">
    <div class="col-3">
        <strong>Start date:</strong> {{ proposal.start_date }}<br>
    </div>
    <div class="col-3">
        <strong>End date:</strong> {{ proposal.end_date }}<br>
    </div>
    <div class="col-6">
        <strong>Duration (months):</strong> {{ proposal.duration_months|floatformat }}<br>
    </div>
</div>
<br>

{% if proposal.call.overarching_project_question %}
    <h4>Overarching project</h4>
    {% include 'common/_project_overarching.tmpl' with overarching_project=proposal.overarching_project %}
{% endif %}
<p></p>
{% if proposal.call.scientific_clusters_question %}
    <h3>Part {{ part_numbers.scientific_clusters }}: Research cluster of proposed {{ activity }}</h3>
    {% include 'common/_accordion.tmpl' with prefix='scientific_clusters' button_text_collapsed='Show research clusters' button_text_not_collapsed='Hide research clusters' template_file='common/_scientific_clusters.tmpl' %}
{% endif %}

<p></p>

{% if proposal_partner_question %}
    <h3>Part {{ part_numbers.roles_competences }}: Roles and competences</h3>
    {% include 'common/_accordion.tmpl' with prefix='applicant_role' button_text_collapsed='View applicant' button_text_not_collapsed='Hide applicant' template_file='common/_role_description.tmpl' role_description=proposal.applicant_role_description %}
    <br>
    {% include 'common/_accordion.tmpl' with prefix='partners' button_text_collapsed='View partners' button_text_not_collapsed='Hide partners' template_file='common/_table-partners.tmpl' %}
    <hr>
{% endif %}

{% for part_with_answers in parts_with_answers %}
    <h2>Part {{ part_with_answers.heading_number }}: {{ part_with_answers.title_rendered }}</h2>
    {% if part_with_answers.introductory_text %}
        <div class="pre-wrap">{{ part_with_answers.introductory_text }}</div>{% endif %}
    <br>
    {% include 'common/_questions_answers-accordion-detail.tmpl' with part=part_with_answers only %}
    <p></p>
{% endfor %}

{% if proposal.call.budget_question %}
    <h3>Part {{ part_numbers.budget_requested }}: Budget requested</h3>
    <strong>Total requested budget:</strong> {{ proposal.total_budget|thousands_separator }} CHF
    <p><strong>Maximum budget:</strong> {{ maximum_budget|thousands_separator }} CHF</p>

    {% include 'common/_accordion.tmpl' with prefix='budget' button_text_collapsed='View budget details' button_text_not_collapsed='Hide budget details' template_file='common/_table-budget.tmpl' %}
    <br>
{% endif %}

{% if proposal.call.other_funding_question %}
    <h3>Part {{ part_numbers.other_sources_of_funding }}: Other sources of funding</h3>
    {% include 'common/_accordion.tmpl' with prefix='funding' button_text_collapsed='View funding details' button_text_not_collapsed='Hide funding details' template_file='common/_table-funding.tmpl' %}
    <br>
{% endif %}

<p></p>
<hr>
<h3>Data agreement</h3>
<strong>Agreed to privacy
    policy:</strong> {% include 'common/_check-icon.tmpl' with value=proposal.applicant.privacy_policy %}<br>
<strong>Agreed to contact
    newsletter:</strong> {% include 'common/_check-icon.tmpl' with value=proposal.applicant.contact_newsletter %}

<hr>
<strong>Proposal created:</strong> {{ proposal.created_on }}<br>
<strong>Proposal last modified:</strong> {{ proposal.modified_on }}
<p></p>