<strong>Title:</strong> {{ overarching_project.title }}<br>
<strong>Leader:</strong> {% include 'common/_person_position_with_orcid.tmpl' with person_position=overarching_project.leader %}
<br>
<strong>Organisations:</strong> {% include 'common/_organisation-list.tmpl' with organisations=overarching_project.leader.organisations_ordered_by_name %}
<br>
<strong>Group / lab:</strong> {% include 'common/_value-or-dash.tmpl' with value=overarching_project.leader.group %}