{% load request_is_management %}

<h2>{{ proposal.title }}</h2>
<strong>Status:</strong> {{ proposal.proposal_status.name }} {{ link_to_edit_or_display|safe }}<br>
<strong>Call:</strong>
{% if request|request_is_management %}
    <a href="{% url 'logged-call-detail' pk=proposal.call.id %}">{{ proposal.call.long_name }}</a>
{% else %}
    {{ proposal.call.long_name }}
{% endif %}<br>
<strong>Keywords:</strong> {{ proposal.keywords_enumeration }}<br>
<div class="row">
    <div class="col-8">
        <strong>Geographical focus:</strong> {{ proposal.geographical_areas_enumeration }}
    </div>
    <div class="col-4">
       <strong>Precise region:</strong> {{ proposal.location }}
    </div>
</div>
<p></p>
