{% load filename_from_path %}
{% load filesizeformat_safe %}

{% if call_part.files %}
    <p></p>
    Files:
    <ul>
    {% for file in call_part.files %}
        <li><a href="{{ file.download_link }}"><i class="fas fa-download"></i> {{ file.filename_with_extension }}</a> ({{ file.file|filesizeformat_safe }}): {{ file.description }}</li>
    {% endfor %}
    </ul>
{% endif %}
