{% if call_part.files %}
    <ul>
    {% for file in call_part.files %}
        <li><a href="{{ file.download_link }}">{{ file.name }}</a>: {{ file.description }}</li>
    {% endfor %}
    </ul>
{% endif %}
