{% load crispy_forms_tags %}
{% load in_management %}

<div class="container">
    {% include 'common/_messages-box.tmpl' %}
    <div class="alert alert-danger" id="error-messages" style="display:none">
    </div>
    {% if preview %}
        <div class="alert alert-primary" role="alert">
            This is a preview of the proposal form: it cannot be saved but it can be used to see how it would look for the
            applicants.
        </div>
    {% endif %}
    <br>
    {% if proposal_status_is_draft %}
        <div class="alert alert-secondary" role="alert"><i class="fas fa-info-circle"></i> This proposal is a draft and will
            not be evaluated.
            Click on Submit before the application deadline to ensure your proposal is evaluated.
        </div>
    {% endif %}
</div>
<section>
    <div class="container">
        <div class="information-wrapper">
          <h2 class="section-title">{{ call_name }}</h2>
          <p>{{ call_introductory_message|safe }}</p>

          <div class="content-block">
            <div class="content-block--header">
              <p><strong>Deadline for application:</strong> {{ call_submission_deadline }}</p>
            </div>
            <div class="content-block--body">
              <ul>
                <li>Please complete all mandatory fields and press "Save Draft" or "Submit".</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="application-form">
    <div class="container">
        <h2 class="section-title" style="margin-bottom: 50px;">Application Form</h2>

        <div class="top-wizard-wrapper">
            <div class="step active">
                <span>1. Applicant</span>
            </div>
            <div class="step">
                <span>2. Proposed Projects</span>
            </div>
            {% if extra_parts %}
                {% for part in extra_parts %}
                    <div class="step">
                        <span>{{ forloop.counter|add:"2" }}. {{ part.title_rendered }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="step">
                <span>{{ extra_parts|length|add:"3" }}. Budget Request</span>
            </div>
            <div class="step">
                {% if extra_parts %}
                    <span>{{ extra_parts|length|add:"4" }}. Summary</span>
                {% else %}
                    <span>4. Summary</span>
                {% endif %}
            </div>
        </div>

<form action="{{ proposal_action_url }}" enctype="multipart/form-data" method="post" id="dd-form">
<div class="step-wizard-wrapper">
   <div class="progressbar-wrapper">
        <div class="progressbar">
          <div class="step active">
            <span class="bullet"></span>
            <span class="cursor-pointer">1. Applicant</span>
          </div>
          <div class="step">
            <span class="bullet"></span>
            <span class="cursor-pointer">2. Proposed Projects</span>
          </div>
          {% if extra_parts %}
           {% for part in extra_parts %}
              <div class="step">
                <span class="bullet"></span>
                <span class="cursor-pointer">{{ forloop.counter|add:"2" }}. {{ part.title_rendered }}</span>
              </div>
          {% endfor %}
              <div class="step">
                <span class="bullet"></span>
                <span class="cursor-pointer">{{ extra_parts|length|add:"3" }}. Budget Request</span>
              </div>
              <div class="step">
                <span class="bullet"></span>
                <span class="cursor-pointer">{{ extra_parts|length|add:"4" }}. Summary</span>
              </div>
          {% else %}

              <div class="step">
                <span class="bullet"></span>
                <span class="cursor-pointer">3. Budget Request</span>
              </div>
              <div class="step">
                <span class="bullet"></span>
                <span class="cursor-pointer">4. Summary</span>
              </div>
          {% endif %}
        </div>
        <div class="btn-save-draft-wrapper">
          <input type="submit" name="save_draft" class="btn btn-light savedraft" value="Save Draft" id="submit-id-submit">
        </div>
   </div>
  <div class="form-wrapper">
    <!-- <form role="form"> -->
      <fieldset>
        <div class="form-fields-wrapper">
          {% include 'common/_person-form.tmpl' with person_form=person_form %}
          {% include 'common/_application_form-postal_address.tmpl' %}
        </div>
        <div class="action-btn">
          <input type="submit" name="save_draft" class="btn btn-light savedraft" value="Save Draft" id="submit-id-submit">
          <input type="button" name="previous" class="btn btn-outline-primary previous disabled" value="Previous">
          <input type="button" name="next" class="btn btn-primary next" value="Next">
        </div>
      </fieldset>

      <fieldset>
        <div class="form-fields-wrapper">
             {% crispy proposal_application_form %}
             {% if overarching_project_question %}
                <h3>Overarching project</h3>
                {% include 'common/_form-project_overarching.tmpl' %}
             {% endif %}

            {% if scientific_clusters_question %}
                <h2>Part {{ part_numbers.scientific_clusters }}: Research cluster of proposed {{ activity }}</h2>
                {% include 'common/_form-proposal-scientific_clusters.tmpl' %}
            {% endif %}

            {% if proposal_partner_question %}
                <h2>Part {{ part_numbers.roles_competences }}: Roles and competences</h2>
                {% include 'common/_form-proposal_partners.tmpl' %}
            {% endif %}
        </div>
        <div class="action-btn">
          <input type="submit" name="save_draft" class="btn btn-light savedraft" value="Save Draft" id="submit-id-submit">
          <input type="button" name="previous" class="btn btn-outline-primary previous" value="Previous">
          <input type="button" name="next" class="btn btn-primary next" value="Next">
        </div>
      </fieldset>
     {% if extra_parts %}
     {% for part in extra_parts %}
     <fieldset>
        <div class="form-fields-wrapper">
                <h2>Part {{ part.heading_number }}: {{ part.title_rendered }}</h2>
                <div class="pre-wrap">{{ part.introductory_text|safe }}</div>
                {% include 'common/_proposal_list_files.tmpl' with call_part=part only %}
                {% include 'common/_form-dynamic_questions.tmpl' with questions_form=part.questions_form %}
        </div>
        <div class="action-btn">
          <input type="submit" name="save_draft" class="btn btn-light savedraft" value="Save Draft" id="submit-id-submit">
          <input type="button" name="previous" class="btn btn-outline-primary previous" value="Previous">
          <input type="button" name="next" class="btn btn-primary next" value="Next">
        </div>
      </fieldset>
      {% endfor %}
      {% endif %}

      <fieldset>
        <div class="form-fields-wrapper">
                {% include 'common/_application_form-budget.tmpl' %}
                {% if other_funding_question %}
                    <h2>Part {{ part_numbers.other_sources_of_funding }}: Other sources of funding</h2>
                    {% include 'common/_form-funding_organisations.tmpl' %}
                {% endif %}
        </div>
        <div class="action-btn">
          <input type="submit" name="save_draft" class="btn btn-light savedraft" value="Save Draft" id="submit-id-submit">
          <input type="button" name="previous" class="btn btn-outline-primary previous" value="Previous">
          <input type="button" name="next" class="btn btn-primary next" value="Next">
        </div>
      </fieldset>

      <fieldset>
        <div class="form-fields-wrapper" id="summary-content">
        </div>
        <p></p>
        <hr>
        {% crispy data_collection_form %}
        <div class="action-btn">
        {% if not preview %}
           <input type="button" name="previous" class="btn btn-outline-primary previous" value="Previous">
           <input type="submit" id="final-result" name="submit" class="btn btn-primary submit_btn" value="Submit">
        {% else %}
            <strong>This is a preview of the proposal form: it cannot be saved.</strong>
        {% endif %}
        </div>
      </fieldset>
    <!-- </form> -->
  </div>
</div>
</form>
</div>
</section>
