{% load request_is_management %}
{% load static %}

<h2>{{ proposal.title }}</h2>
<strong>Status:</strong> {% include 'logged/_proposal_status_badge.tmpl' with status_name=proposal.proposal_status.name only %}<br>
<strong>Call:</strong>
{% if request|request_is_management %}
    <a href="{% url 'logged-call-detail' pk=proposal.call.id %}">{{ proposal.call.long_name }}</a>
{% else %}
    {{ proposal.call.long_name }}
{% endif %}<br>
{% if external_url %}
    <strong>Link for applicant:</strong>
    {% include 'common/_clipboard_button.tmpl' with text=external_url id='external_url' %}
{% endif %}
<p></p>
