{% load crispy_forms_tags %}
{% load in_management %}

{% include 'common/_messages-box.tmpl' %}

{% if proposal_status_is_draft %}
    <div class="alert alert-secondary" role="alert"><i class="fas fa-info-circle"></i> This proposal is a draft and will
        not be evaluated.
        Click on Submit before the application deadline to ensure your proposal is evaluated.
    </div>
{% endif %}

<p class="text-large"><strong>Call name:</strong> {{ call_name }}</p>

<p class="text-large"><strong>Deadline for
    application:</strong> {% include 'common/_date_time_swiss_time.tmpl' with value=call_submission_deadline %}

<p class="text-large"><strong>Please complete all mandatory fields and press "Save Draft" or "Submit".</strong></p>

<div class="introductory-message shadow p-3 mb-5 bg-white rounded">{{ call_introductory_message }}</div>

<form action="{{ proposal_action_url }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    <h1>Application form</h1>
    <h2>Part 1: General Information</h2>
    <h3>Applicant</h3>
    {% crispy person_form %}

    <h2>Proposed field trip</h2>
    {% crispy proposal_form %}

    {% if overarching_project_question %}
        <h2>Overarching project</h2>
        {% include 'common/_form-project_overarching.tmpl' %}
    {% endif %}

    <h2>Part 2: Proposed field trip description</h2>
    {% include 'common/_form-dynamic_questions.tmpl' %}

    {% if proposal_partner_question %}
        <h2>Proposal partners</h2>
        {% include 'common/_form-proposal_partners.tmpl' %}
    {% endif %}

    <h2>Budget requested</h2>
    {% include 'common/_form-budget.tmpl' %}

    {% if other_funding_question %}
        <h2>Other sources of funding</h2>
        {% include 'common/_form-funding_organisations.tmpl' %}
    {% endif %}


    {% crispy data_collection_form %}

    {% if request|in_management %}
        {% include 'common/_submit-button.tmpl' with value='Save' name='save_changes' %}
    {% else %}
        {% include 'common/_submit-button.tmpl' with value='Save Draft' name='save_draft' %}
        {% include 'common/_submit-button.tmpl' with value='Submit' name='submit' %}

        <p>
            After saving your draft proposal you will be able to edit the proposal until the call deadline. Unsubmitted drafts will not be evaluated. <br>
            Please make sure to submit the final version of your proposal before the call deadline.
            {% include 'common/_submitted_cannot_modify_text.tmpl' %}
        </p>
    {% endif %}
    <p></p>
</form>