{% load filesizeformat_safe %}

{% for question_answer_text in part.questions_answers_text %}
    <strong>{{ question_answer_text.question.question_text }}</strong><br>
    {#    @formatter:off#}
    <div class="border p-1 bg-white rounded pre-wrap">{% if question_answer_text.answer %}{{ question_answer_text.answer }}{% else %}This question has not been answered{% endif %}</div>
    {#    @formatter:on#}
    <br>
{% endfor %}
{% for question_answer_file in part.questions_answers_file %}
    <strong>{{ question_answer_file.question.question_text }}</strong>
    <div class="border p-1 bg-white rounded">
        {% if question_answer_file.answer.instance.md5 %}
            {#            TODO: refactor with _file_download_link.tmpl and _file_to_download.tmpl. Check tickets#}
            <a href="{% url 'proposal-question-answer-file' proposal_qa_file_id=question_answer_file.answer.instance.id md5=question_answer_file.answer.instance.md5 %}"><i
                    class="fas fa-download"></i> {{ question_answer_file.answer.instance.file.name }}</a>
            ({{ question_answer_file.answer|filesizeformat_safe }})
        {% else %}
            File not attached
        {% endif %}
    </div>
    <br>
{% endfor %}
