{% load spi_linebreaksbr %}

<strong>Role:</strong> {{ role_description.role.name }}
<br>
<strong>Role description:</strong>
<div class="border p-1 rounded">{{ role_description.description|spi_linebreaksbr }}</div>
<br>
<strong>Competences:</strong>
<div class="border p-1 rounded">{{ role_description.competences|spi_linebreaksbr }}</div>
