{% load spi_linebreaksbr %}
{% load get_dictionary_value %}
{% if proposal.proposalpartner_set.all %}
    <table class="table table-striped table-sm">
        <tbody>
        {% for partner in proposal.proposalpartner_set.all %}
            <tr>
                <td>
                    {% include 'common/_person_position_with_orcid.tmpl' with person_position=partner.person %}
                    <br>
                    <strong>Organisation:</strong> {% include 'common/_organisation-list.tmpl' with organisations=partner.person.organisations_ordered_by_name %}
                    <br>
                    <strong>Group /
                        lab:</strong> {% include 'common/_value-or-dash.tmpl' with value=partner.person.group %}
                    <br>
                    <strong>Career stage:</strong> {{ partner.person.career_stage }}
                    <br>
                    <strong>Role:</strong> {{ partner.role.name }}
                    <br>
                    <strong>Role description:</strong>
                    <div class="border p-1 rounded">{{ partner.role_description|spi_linebreaksbr }}</div>
                    <br>
                    <strong>Competences:</strong>
                    <div class="border p-1 rounded">{{ partner.competences|spi_linebreaksbr }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    No partners for this proposal
{% endif %}