{% load thousands_separator %}
{% if proposal.proposalfundingitem_set.all %}
    <table class="table table-striped table-sm table-borderless">
        <thead>
        <tr>
            <th>Organisation</th>
            <th>Funding status</th>
            <th>Amount (CHF)</th>
        </tr>
        </thead>
        <tbody>
        {% for proposal_funding_item in proposal.proposalfundingitem_set.all %}
            <tr>
                <td>{{ proposal_funding_item.organisation_name.name }}</td>
                <td>{{ proposal_funding_item.funding_status }}</td>
                <td>{{ proposal_funding_item.amount|thousands_separator }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    No funding for this proposal
{% endif %}