{% load get_type %}{% spaceless %}
    {% if value %}
        {% if value|get_type == 'date' %}
            {{ value }}
        {% elif value|get_type == 'datetime' %}
            {{ value }}
        {% else %}
            {{ value|linebreaksbr }}
        {% endif %}
    {% else %}
        -
    {% endif %}
{% endspaceless %}