
{% extends 'common/_base.tmpl' %}
{% load static %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
{% block title %}{% include 'common/_title_for_proposal.tmpl' %}{% endblock %}

{% block body_contents %}
    <div>
        {% include 'common/_logo.tmpl' %}
        <p></p>
        {% include 'common/_proposal-form-wizard.tmpl' %}
    </div>
    <script type="text/javascript" src="{% static 'js/wizard.js' %}"></script>
{% endblock %}