
{% extends 'common/_base.tmpl' %}
{% load static %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
{% block title %}{% include 'common/_title_for_proposal.tmpl' %}{% endblock %}

{% block body_contents %}
    <div>
        {% load static %}
        <br>
        <div class="container"><a href="https://polar.epfl.ch/" class="logo-wrapper"><img src="{% static 'images/LogoSPI.png' %}" width="170" alt="SPI Logo"></a></div>

        {% include 'common/_proposal-form-wizard.tmpl' %}
    </div>
    <script type="text/javascript" src="{% static 'js/wizard.js' %}"></script>
{% endblock %}