{% load static %}
{% load crispy_forms_tags %}
{% crispy person_form %}

<script type="text/javascript" src="{% static 'js/orcid.js' %}"></script>

<script type="text/javascript" class="init">
    function success(orcid_record) {
        let family_name = orcid_record['person']['name']['family-name'].value;
        let given_names = orcid_record['person']['name']['given-names'].value;

        $('#id_{{ person_form.prefix }}-first_name').val(given_names);
        $('#id_{{ person_form.prefix }}-surname').val(family_name);
    }

    function error() {
        alert('Error getting orcid id information');
    }

    $("#div_id_person_form-orcid .input-group-append").click(function () {
        let orcid_id = $('#id_{{ person_form.prefix }}-orcid.textinput.textInput.form-control').val()
        getOrcid(orcid_id, success, error);
    });
</script>