{% load static %}
{% load crispy_forms_tags %}
{% crispy person_form %}

{% include 'common/_orcid_javascript-form.tmpl' %}

<script>
    setup_orcid_lookup('{{ person_form.prefix }}', 'orcid', 'first_name', 'surname');
</script>
