{% extends 'common/_base.tmpl' %}
{% load static %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container" role="main">
        {% include "external/_logo.tmpl" %}
        <p></p>
        {% include 'common/_proposal-form.tmpl' %}
    </div>
{% endblock %}
