<div class="form-group">
    <input type="hidden" id="{{ widget.name }}-order_of_values" name="{{ widget.name }}-order_of_values">

    <ul id="{{ widget.name }}" class="list-group list-unstyled">
        {% for group, options, index in widget.optgroups %}
            {% with option=options.0 %}
                <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="{{ option.name }}" id="{{ option.attrs.id }}"
                               value="{{ option.value }}" class="custom-control-input"
                               {% if option.selected %}checked="checked"{% endif %}>
                        <label class="custom-control-label" for="{{ option.attrs.id }}">{{ option.label }}</label>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>

<script>
    $("#{{ widget.name }}").sortable({
        placeholder: 'drop-placeholder',
        update: function () {
            let order_of_values = Array();

            $(this).find('input').each(function (index, item) {
                order_of_values.push(item.value);
            });

            $('#{{ widget.name }}-order_of_values').val(order_of_values.join(','));
        }
    });
</script>