{% include "django/forms/widgets/input.html" %}

<script>
    var $j = jQuery.noConflict();

    $j(function () {
        $j("input[name='{{ widget.name }}']").datetimepicker(
            {
                timepicker: false,
                format: 'Y-m'
            }
        );
    });
</script>