{% include "django/forms/widgets/input.html" %}

<script>
    $(function () {
        $("input[name='{{ widget.name }}']").datetimepicker(
            {
                timepicker: true,
                format: 'd-m-Y H:i'
            }
        );
    });
</script>