{% include "django/forms/widgets/input.html" %}

<script>
    $(function () {
        $("input[name='{{ widget.name }}']").datetimepicker(
            {
                {% include 'widgets/xdsoft_year_month_day_hour_minute_picker_js_properties.tmpl' %}
            }
        );
    });
</script>