{% with blog_posts=project.blogpost_set.all %}
    <table id="blog_posts_table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Due</th>
            <th>Received</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        </thead>
        {% for blog_post in blog_posts %}
            <tr>
                <td data-sort="{{ blog_post.due_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=blog_post.due_date %}</td>
                <td data-sort="{{ blog_post.received_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=blog_post.received_date %}</td>
                <td>{% include 'common/_value-or-dash.tmpl' with value=blog_post.title %}</td>
                <td>{% include 'common/_value-or-dash.tmpl' with value=blog_post.author %}</td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#blog_posts_table').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"]],
                    "bFilter": false,
                    "bPaginate": false,
                    "info": false,
                    "language": {
                        "zeroRecords": "No blog posts have been added"
                    },
                    "columns": [
                        {"width": "15%"},
                        {"width": "15%"},
                        {"width": "55%"},
                        {"width": "15%"}
                    ],
                }
            );
        });
    </script>
{% endwith %}