<h5>Lay summaries {% include 'grant_management/_edit_button.tmpl' with viewname='logged-grant_management-lay_summaries-update' project=project %}</h5>
{% if close_project_form.empty_lay_summaries_count > 0 %}
    <i class="fa fa-times" style="color:red"></i> {{ close_project_form.empty_lay_summaries_count }} empty lay
    summar{{ close_project_form.empty_lay_summaries_count|pluralize:"y,ies" }}.
{% elif close_project_form.non_empty_lay_summaries_count > 0 %}
    <i class="fa fa-check" style="color:green"></i> {{ close_project_form.non_empty_lay_summaries_count }} lay
    summar{{ close_project_form.non_empty_lay_summaries_count|pluralize:"y,ies" }}.
{% else %}
    <i class="fa fa-check" style="color:green"></i> There aren't lay summaries in the system.
{% endif %}
<p></p>