<h4>Blog posts</h4>
{% if close_project_form.unreceived_blog_posts_count %}
    <i class="fas fa-question" style="color:gray"></i> There are {{ close_project_form.unreceived_blog_posts_count }} unreceived blog posts.
{% else %}
    <i class="fa fa-check" style="color:green"></i> Good!
{% endif %}
