<h5 style="display: inline-block;">
    Invoices {% include 'grant_management/_edit_button.tmpl' with viewname='logged-grant_management-invoices-update' project=project %}</h5><br>
{% if close_project_form.unpaid_invoices_count > 0 %}
    <i class="fa fa-times" style="color:red"></i> {{ close_project_form.unpaid_invoices_count }} unpaid
    invoice{{ close_project_form.unpaid_invoices_count|pluralize }}.
{% elif close_project_form.paid_invoices_count > 0 %}
    <i class="fa fa-check" style="color:green"></i> {{ close_project_form.paid_invoices_count }} paid
    invoice{{ close_project_form.paid_invoices_count|pluralize }}.
{% else %}
    <i class="fa fa-check" style="color:green"></i> No invoices entered in the system.
{% endif %}
<p></p>