{% load thousands_separator %}

{% with installments=project.installment_set.all %}
    <table id="installments_table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Due</th>
            <th>Amount (CHF)</th>
        </tr>
        </thead>
        <tbody>
        {% for installment in installments %}
            <tr>
                <td data-sort="{{ installment.due_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=installment.due_date %}</td>
                <td>{% include 'common/_value-or-dash.tmpl' with value=installment.amount|thousands_separator %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#installments_table').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"]],
                    "bFilter": false,
                    "bPaginate": false,
                    "info": false,
                    "language": {
                        "zeroRecords": "No installments have been created"
                    },
                    "columns": [
                        {"width": "50%"},
                        {"width": "50%"},
                    ],
                }
            );
        });
    </script>
{% endwith %}