{% with invoices=project.invoice_set.all %}
    <table id="invoices_table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Due</th>
            <th>Received</th>
            <th>Sent for payment</th>
            <th>Paid</th>
            <th>Amount (CHF)</th>
            <th>File</th>
        </tr>
        </thead>
        {% for invoice in invoices %}
            <tr>
                <td data-sort="{{ invoice.due_date|date:"Y-m-d" }}">{% include 'common/_date-or-dash.tmpl' with date=invoice.due_date %}</td>
                <td data-sort="{{ invoice.reception_date|date:"Y-m-d" }}">{% include 'common/_date-or-dash.tmpl' with date=invoice.reception_date %}</td>
                <td data-sort="{{ invoice.sent_date|date:"Y-m-d" }}">{% include 'common/_date-or-dash.tmpl' with date=invoice.sent_date %}</td>
                <td data-sort="{{ invoice.paid_date|date:"Y-m-d" }}">{% include 'common/_date-or-dash.tmpl' with date=invoice.paid_date %}</td>
                <td>{% include 'common/_value-or-dash.tmpl' with value=invoice.amount %}</td>
                <td>{% include 'common/_file_to_download.tmpl' with file_field=invoice.file %}</td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#invoices_table').DataTable({
                    "pageLength": 100,
                    "order": [[1, "asc"]],
                    "bFilter": false,
                    "bPaginate": false,
                    "info": false,
                }
            );
        });
    </script>
{% endwith %}