{% load thousands_separator %}
{% load ordinal %}

{% with invoices=project.invoice_set.all %}
    <table id="invoices_table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Installment</th>
            <th>Invoice Due</th>
            <th>Received</th>
            <th>Sent for payment</th>
            <th>Paid</th>
            <th>Amount (CHF)</th>
            <th>File</th>
        </tr>
        </thead>
        {% for invoice in invoices %}
            <tr>
                <td data-sort="{{ invoice.installment_number }}">{{ invoice.installment_number|ordinal }}</td>
                <td data-sort="{{ invoice.due_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=invoice.due_date %}</td>
                <td data-sort="{{ invoice.received_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=invoice.received_date %}</td>
                <td data-sort="{{ invoice.sent_for_payment_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=invoice.sent_for_payment_date %}</td>
                <td data-sort="{{ invoice.paid_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=invoice.paid_date %}</td>
                <td>{% include 'common/_value-or-dash.tmpl' with value=invoice.amount|thousands_separator %}</td>
                <td>{% include 'common/_file_to_download.tmpl' with file_field=invoice.file %}</td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#invoices_table').DataTable({
                    "pageLength": 100,
                    "order": [[1, "asc"]],
                    "bFilter": false,
                    "bPaginate": false,
                    "info": false,
                    "language": {
                        "zeroRecords": "No invoices have been created"
                    },
                    "columns": [
                        {"width": "15%"},
                        {"width": "15%"},
                        {"width": "15%"},
                        {"width": "15%"},
                        {"width": "15%"},
                        {"width": "15%"},
                        {"width": "10%"}
                    ],
                }
            );
        });
    </script>
{% endwith %}