<table id="media_table_{{ form.instance.id|default:0 }}" class="table table-striped table-sm table-hover display">
    <thead>
    <tr>
        <th>Date received</th>
        <th>Photographer</th>
        <th>File</th>
    </tr>
    </thead>
    {% for medium in media %}
    <tr>
        <td data-sort="{{ medium.received_date }}">{{ medium.received_date }}</td>
        <td>
            {% if medium.photographer|add:"0" >= 1 and medium.photographer|add:"0" <= 5000 %}
                {% for person in physical_persons %}
                    {% if person.id == medium.photographer|add:"0" %}
                        {% with photographer_name=person.first_name|add:' '|add:person.surname %}
                            {{ photographer_name }}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
                {{photographer_name}}
            {% else %}
                {{ medium.photographer }}
            {% endif %}

        </td>
        <td>{% include 'common/_file_to_download.tmpl' with file_field=medium.file %}</td>
    </tr>
    {% endfor %}
</table>

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#media_table_{{ form.instance.id|default:0 }}').DataTable({
                "pageLength": 100,
                "order": [[1, "asc"]],
                "bFilter": false,
                "bPaginate": false,
                "info": false,
                "language": {
                    "zeroRecords": "No media have been added"
                },
                "columns": [
                    {"width": "15%"},
                    {"width": "70%"},
                    {"width": "15%"}
                ],
            }
        );
    });
</script>
