{% if status == 'Ongoing' %}
    <span class="badge badge-secondary">Ongoing</span>
{% elif status == 'Completed' %}
    <span class="badge badge-success">Completed</span>
{% elif status == 'Aborted' %}
    <span class="badge badge-danger">Aborted</span>
{% endif %}