<strong>Status:</strong> {{ project.status }}<br>
<strong>Call:</strong> <a
        href="{% url 'logged-call-detail' pk=project.call.id %}">{{ project.call.long_name }}</a><br>
<strong>Project Key:</strong> {{ project.key }}

<p></p>

<h3>Principal investigator</h3>
{{ project.principal_investigator.academic_title }} {{ project.principal_investigator.person }} <br>
<strong>Email:</strong> <a
        href="mailto:{{ project.principal_investigator.main_email }}">{{ project.principal_investigator.main_email }} </a>
<br>
<strong>Organisations:</strong> {% include 'common/_organisation-list.tmpl' with organisations=project.principal_investigator.organisations_ordered_by_name %}
<br>