<h3>
    Milestones {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-milestones-update' %}</h3>
{% include 'grant_management/_milestone-list.tmpl' %}
<p></p>

<h3>Scientific reports
    {% include 'grant_management/_edit_button.tmpl' with viewname='logged-grant_management-scientific_reports-update' project=project %}</h3>
{% include 'grant_management/_report-list.tmpl' with reports=project.scientificreport_set.all report_name='scientific' %}
<p></p>

<h3>Lay summaries
    {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-lay_summaries-update' project=project %}
</h3>
{% include 'common/_accordion.tmpl' with padding_body='p-1' prefix='lay_summaries' count=lay_summaries_count button_text_collapsed='View lay summaries' button_text_not_collapsed='Hide lay summaries' template_file='grant_management/_lay_summary-list.tmpl' %}
<p></p>

<h3>Blog
    posts {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-blog_posts-update' %}
</h3>
{% include 'grant_management/_blog_post-list.tmpl' %}
<p></p>

<h3>Photos and
    media {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-media-update' %}
</h3>
{% include 'grant_management/_medium-list.tmpl' with media=project.medium_set.all %}
<p></p>

<h3>
    Datasets {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-data-update' %}</h3>
{% include 'grant_management/_dataset-list.tmpl' %}
<p></p>

<h3>
    Publications {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-publications-update' %}
</h3>
{% include 'grant_management/_publication-list.tmpl' %}
<p></p>

<h3>Social
    media {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-social-media-update' %}
</h3>
{% include 'grant_management/_social_network-list.tmpl' %}
