<h3>
    Locations {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-locations-update' %}</h3>
{% include 'grant_management/_locations-list.tmpl' %}
<p></p>
