{% load thousands_separator %}

<h2>{{ project.title }}</h2>
<div class="shadow-none p-1 bg-light rounded">
    <div class="row">
        <div class="col-6">
            <strong>Principal
                investigator:</strong> {% include 'common/_person_position_with_orcid.tmpl' with person_position=project.principal_investigator %}<br>
            <strong>Project dates:</strong> {{ project.start_date }} - {{ project.end_date }}<br>
            <strong>Allocated budget:</strong> {{ project.allocated_budget|thousands_separator }} CHF<br>
            {% if project.is_active %}
                <strong>Total paid to date:</strong> {{ project.invoices_paid_amount|thousands_separator }} CHF
            {% else %}
                <strong>Total paid:</strong> {{ project.invoices_paid_amount|thousands_separator }} CHF
            {% endif %}
        </div>
        <div class="col-6">
            <strong>Project Key:</strong> {{ project.key }}<br>
            <strong>Status:</strong> {% include 'grant_management/_project_status.tmpl' with project=project only %}<br>
            <strong>Call:</strong> <a
                href="{% url 'logged-call-detail' pk=project.call.id %}">{{ project.call.long_name }}</a><br>
        </div>
    </div>
</div>
<br>