<h3>
    <a id="locations">Locations {% include 'grant_management/_edit_button.tmpl' with force_edit_enabled=True viewname='logged-grant_management-locations-update' %}</a>
</h3>
<div>First entry location will be the one displaying on website (alphabetic order)</div>
{% include 'grant_management/_locations-list.tmpl' %}
<p></p>
