{% with publications=project.publication_set.all %}
    <table id="publications_table" class="table table-striped table-sm table-hover display">
        <thead>
        <tr>
            <th>Published date</th>
            <th>Title</th>
            <th>Reference</th>
            <th>DOI</th>
        </tr>
        </thead>
        {% for publication in publications %}
            <tr>
                <td data-sort="{{ publication.published_date|date:"Y-m-d" }}">{% include 'common/_value-or-dash.tmpl' with value=publication.published_date %}</td>
                <td>{% include 'grant_management/_text_with_link_or_dash.tmpl' with text=publication.title url=publication.url %}</td>
                <td>{% include 'common/_value-or-dash.tmpl' with value=publication.reference %}</td>
                <td>{% include 'grant_management/_text_with_link_or_dash.tmpl' with text=publication.doi url=publication.doi_link %}</td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#publications_table').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"]],
                    "bFilter": false,
                    "bPaginate": false,
                    "info": false,
                    "language": {
                        "zeroRecords": "No publications have been created"
                    },
                    "columns": [
                        {"width": "15%"},
                        {"width": "55%"},
                        {"width": "15%"},
                        {"width": "15%"}
                    ],
                }
            );
        });
    </script>
{% endwith %}