{% load static %}

<div class="row">
    <div class="col-12">
        {% with social_networks=project.projectsocialnetwork_set.all %}
            <table id="social_networks_table" class="table table-striped table-sm table-hover display">
                <thead>
                <tr>
                    <th>Outreach</th>
                    <th>URL</th>
                    <th>File</th>
                </tr>
                </thead>
                {% for social_network in social_networks %}
                    <tr>
                        <td data-sort="{{ social_network.social_network.name }}">
                            <img width=20
                                 alt="Logo for {{ social_network.social_network.name }}"
                                 src="{% static social_network.social_network.icon %}">
                            {{ social_network.social_network.name }}
                        </td>
                        <td>{% include 'grant_management/_text_with_link_or_dash.tmpl' with text=social_network.url url=social_network.url %}</td>
                        <td>{% include 'common/_file_to_download.tmpl' with file_field=social_network.file %}</td>
                    </tr>
                {% endfor %}
            </table>

            <script type="text/javascript" class="init">
                $(document).ready(function () {
                    $('#social_networks_table').DataTable({
                            "pageLength": 100,
                            "order": [[0, "asc"]],
                            "bFilter": false,
                            "bPaginate": false,
                            "info": false,
                            "language": {
                                "zeroRecords": "No outreach have been added"
                            },
                            "columns": [
                                {"width": "33%"},
                                {"width": "33%"},
                                {"width": "33%"}
                            ]
                        }
                    );
                });
            </script>
        {% endwith %}
    </div>
</div>
