{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h1>{{ project.title }}</h1>
            <h2>Finances</h2>

            <h3>Invoices</h3>
            <form action="" enctype="multipart/form-data" method="post">
                {% include 'grant_management/invoices-form.tmpl' %}

                <h3>Financial report</h3>
                TODO
                {#            {% crispy finance_reports_form %}#}
                <p></p>
                {% include 'common/_submit-button.tmpl' with value="Save Finances" name="save_finances" %}
            </form>
        </div>
        <div class="col-2">
        </div>
    </div>
{% endblock %}
