{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% include 'grant_management/_project_header-detail.tmpl' with project=project %}
            <form action="" enctype="multipart/form-data" method="post">
                <h3>Invoices</h3>
                <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
                {% include 'common/_dynamic_formset.tmpl' with form_set=invoices_form %}
                To delete an invoice: please make sure that it's not paid
                <hr>
                <h3>Financial reports</h3>
                {% include 'common/_dynamic_formset.tmpl' with form_set=financial_reports_form %}
                <p></p>
                {% include 'common/_submit-button.tmpl' with value="Save Finances" name="save_finances" %}
                {% include 'common/_cancel-button.tmpl' with value="Cancel" url=cancel_url %}
                <p></p>
            </form>
        </div>
        <div class="col-2">
        </div>
    </div>
{% endblock %}
