{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% include 'grant_management/_project_header-detail.tmpl' with project=project %}
            <h3>Grant agreement</h3>
            {% crispy form %}
            {% if comment_form %}
                {# If the Grant Agreement has not been created yet: it's no showing the comments list #}
                <hr>
                {% include 'comments/_comments-attachments.tmpl' %}
            {% endif %}
        </div>
        <div class="col-2">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            {% include 'comments/_comments-attachments-compact-list.tmpl' %}
        </div>
    </div>
{% endblock %}