{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{{ invoices_form.management_form }}

{% if invoices_form.non_form_errors %}
    {{ invoices_form|as_crispy_errors }}
{% endif %}

<table id="invoices_form_table" class="table table-striped table-sm">
    <tbody>
    {% for invoice_form in invoices_form %}
        <tr>
            <td>
                {% crispy invoice_form %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'external/formset/jquery.formset.js' %}"></script>

<script>
    var jQueryForFormset = $.noConflict();
    {#jquery.formset doesn't work with jQuery 3 that we are using in the application#}
    {#Here we load the older one, we use for the formset but we let the $ be the newer version#}

    jQueryForFormset(function () {
        jQueryForFormset('#invoices_form_table tbody tr').formset({
            prefix: '{{ invoices_form.prefix }}'
        })
    })
</script>
