{% for project in projects %}
    <h4>{{ project.principal_investigator }}</h4><br>
    <p>Project: {{ project.title }}</p>
    <p>Keywords: {{ project.keywords_enumeration }}</p>
    <h5>Summary</h5>
    {% if project.main_lay_summary_web %}
        {{ project.main_lay_summary_web|linebreaksbr }}
    {% else %}
        Lay summary not available yet
    {% endif %}
    <p></p>
{% endfor %}