{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% include 'grant_management/_project_header-detail.tmpl' with project=project %}
            <form action="" enctype="multipart/form-data" method="post">
                <h3>Lay Summaries</h3>
                <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
                {% include 'common/_dynamic_formset.tmpl' with form_set=lay_summaries_form %}

                {% include 'common/_submit-button.tmpl' with value="Save Lay Summaries" name="save_lay_summaries" %}
                {% include 'common/_cancel-button.tmpl' with value="Cancel" url=cancel_url %}
            </form>
            <p></p>
        </div>
        <div class="col-2">
        </div>
    </div>
{% endblock %}