<h2 style="font-size: 24px;">Beneficiaries and their projects</h2>

<figure class="wp-block-table">
    <table style="width: 100%;" width="100%">
        <tbody>
        {% for project in projects %}
            <tr>
                <td style="width: 28.19%"><a href="#{{ project.key }}">{{ project.principal_investigator }}</a></td>
                <td style="width: 71.23%">{{ project.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</figure>

{% for project in projects %}
    <h4><a id="{{ project.key }}">{{ project.principal_investigator }}</a></h4>
    <p>Project: {{ project.title }}</p>
    <p>Keywords: {{ project.keywords_enumeration }}</p>
    <h5>Summary</h5>
    {% if project.main_lay_summary_web %}
        <div style="white-space: pre-wrap;">{{ project.main_lay_summary_web|linebreaksbr }}</div>
    {% else %}
        Lay summary not available yet
    {% endif %}
    <p></p>
{% endfor %}
