{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% load thousands_separator %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            <h2>{{ project.title }}</h2>
            {% include 'grant_management/_project_summary-detail.tmpl' %}
            <p></p>
            <div class="row">
                <div class="col-6">
                    <h3>Project information <a class="btn btn-primary btn-sm"
                                               href="{% url 'logged-grant_management-project-basic-information-update' pk=project.pk %}">Edit</a>
                    </h3>
                    <strong>Budget allocated:</strong> {{ project.allocated_budget|thousands_separator }} CHF<br>
                    <strong>Start date:</strong> {{ project.start_date }}<br>
                    <strong>End date:</strong> {{ project.end_date }}<br>
                </div>
                <div class="col-6">
                    <h3>Grant agreement <a class="btn btn-primary btn-sm"
                                           href="{{ grant_agreement_button_url }}">{{ grant_agreement_button_text }}</a>
                    </h3>
                    <strong>Agreement:</strong> {% include 'common/_file_to_download.tmpl' with file_field=project.grantagreement.file %}<br>
                    <strong>Signed
                        date:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.grantagreement.signed_date %}<br>
                    <strong>Signed
                        by:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.grantagreement.signed_by_string %}<br>
                    <p></p>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-6">
                    <h3>Installments <a class="btn btn-primary btn-sm"
                                        href="{% url 'logged-grant_management-installments-update' project=project.pk %}">Edit</a>
                    </h3>
                    {% include 'grant_management/_installment-list.tmpl' %}
                </div>
            </div>
            <h3>Finances <a class="btn btn-primary btn-sm"
                            href="{% url 'logged-grant_management-finances-update' project=project.id %}">Edit</a></h3>
            <h4>Invoices</h4>
            {% include 'grant_management/_invoice-list.tmpl' %}
            Total
            paid: {% include 'common/_value-or-zero.tmpl' with value=project.invoices_paid_amount|thousands_separator %}
            CHF
            <p></p>
            <h4>Financial reports</h4>
            {% include 'grant_management/_report-list.tmpl' with reports=project.financialreport_set.all report_name='financial' %}

            <p></p>
            <h3>Project follow-up</h3>
            <h4>Scientific reports
                <a class="btn btn-primary btn-sm"
                   href="{% url 'logged-grant_management-scientific_reports-update' project=project.id %}">Edit</a></h4>
            {% include 'grant_management/_report-list.tmpl' with reports=project.scientificreport_set.all report_name='scientific' %}
            <p></p>
            <h3>Deliverables and media</h3>
            <h4>Lay summaries
                <a class="btn btn-primary btn-sm"
                   href="{% url 'logged-grant_management-lay_summaries-update' project=project.id %}">Edit</a>
            </h4>
            {% include 'common/_accordion.tmpl' with padding_body='p-1' prefix='lay_summaries' count=lay_summaries_count button_text_collapsed='View lay summaries' button_text_not_collapsed='Hide lay summaries' template_file='grant_management/_lay_summary-list.tmpl' %}
            <p></p>
            <h4>Blog posts
                <a class="btn btn-primary btn-sm"
                   href="{% url 'logged-grant_management-blog_posts-update' project=project.id %}">Edit</a>
            </h4>
            {% include 'grant_management/_blog_post-list.tmpl' %}
            <p></p>
            <h4>Photos and media
                <a class="btn btn-primary btn-sm"
                   href="{% url 'logged-grant_management-media-update' project=project.id %}">Edit</a>
            </h4>
            {% include 'grant_management/_medium-list.tmpl' %}
            <p></p>
            <h4>Datasets <a class="btn btn-primary btn-sm"
                            href="{% url 'logged-grant_management-data-update' project=project.id %}">Edit</a></h4>
            {% include 'grant_management/_dataset-list.tmpl' %}
            <p></p>
            <h4>Publications <a class="btn btn-primary btn-sm"
                                href="{% url 'logged-grant_management-publications-update' project=project.id %}">Edit</a>
            </h4>

            <hr>
            {#            {% include 'comments/_comments-attachments.tmpl' %}#}
        </div>
        <div class="col-2">
            <p>
                {% include 'logged/_proposal_button.tmpl' with project=project %}
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'logged-project-detail' pk=project.id %}" role="button">View
                    Project</a>
            </p>
        </div>
    </div>
{% endblock %}