{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% load thousands_separator %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% include 'grant_management/_project_header-detail.tmpl' %}
            <div class="row">
                <div class="col-6">
                    <h3>Project information <a class="btn btn-primary btn-sm"
                                               href="{% url 'logged-grant_management-project-basic-information-update' pk=project.pk %}">Edit</a>
                    </h3>
                    <strong>Budget allocated:</strong> {{ project.allocated_budget|thousands_separator }} CHF<br>
                    <strong>Start date:</strong> {{ project.start_date }}<br>
                    <strong>End date:</strong> {{ project.end_date }}<br>
                </div>
                <div class="col-6">
                    <h3>Grant agreement <a class="btn btn-primary btn-sm"
                                           href="{{ grant_agreement_button_url }}">{{ grant_agreement_button_text }}</a>
                    </h3>
                    <strong>Agreement:</strong> {% include 'common/_file_to_download.tmpl' with file_field=project.grantagreement.file %}<br>
                    <strong>Signed
                        date:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.grantagreement.signed_date %}<br>
                    <strong>Signed
                        by:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.grantagreement.signed_by_string %}<br>
                    <p></p>
                </div>
            </div>
            <p></p>

            <div>
                <ul class="nav nav-tabs" id="grant-management-tab">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'finances' %}active{% endif %}" id="finances-tab"
                           data-toggle="tab" href="#finances" role="tab">Finances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'deliverables' %}active{% endif %}" id="deliverables-tab"
                           data-toggle="tab" href="#deliverables" role="tab">Deliverables</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade {% if active_tab == 'finances' %}show active{% endif %}" id="finances" role="tabpanel">
                    <br>
                    {% include 'grant_management/_project_finances.tmpl' %}
                </div>
                <div class="tab-pane fade {% if active_tab == 'deliverables' %}show active{% endif %}" id="deliverables" role="tabpanel">
                    <br>
                    {% include 'grant_management/_project_deliverables.tmpl' %}
                </div>
            </div>
            <p></p>
            {#            {% include 'comments/_comments-attachments.tmpl' %}#}

        </div>
        <div class="col-2">
            <p>
                {% include 'logged/_proposal_button.tmpl' with project=project %}
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'logged-project-detail' pk=project.id %}" role="button">View
                    Project</a>
            </p>
        </div>
    </div>
{% endblock %}