{% extends 'logged/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% load thousands_separator %}

{% block contents %}
    <div class="row">
        <div class="col-10">
            {% include 'grant_management/_project_header-detail.tmpl' %}
            <div class="row">
                <div class="col-6">
                    <h3>Project
                        information {% include 'grant_management/_edit_button.tmpl' with viewname='logged-grant_management-project-basic-information-update' project=project %}
                    </h3>
                    <strong>Budget allocated:</strong> {{ project.allocated_budget|thousands_separator }} CHF<br>
                    <strong>Start date:</strong> {{ project.start_date }}<br>
                    <strong>End date:</strong> {{ project.end_date }}<br>
                </div>
                <div class="col-6">
                    {# Grant agreement Edit Button is done differently (not using _edit_button.tmpl) because it needs to use pk instead of project #}
                    {# it needs pk partially because of the comments and partially because it creates a new one (passing the project) or updating one #}
                    {# this might need to be refactored... or perhaps de other one named project should be renamed pk #}
                    <h3 style="display: inline-block;">Grant agreement {% if project.is_active %}
                        <a class="btn btn-primary btn-sm"
                           href="{{ grant_agreement_button_url }}">{{ grant_agreement_button_text }}</a>
                    {% else %}
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                              title="This cannot be edited: the project has been closed">
        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>Edit</button>
    </span>
                    {% endif %}
                    </h3>
                    {% with number_of_grant_agreement_comments=project.grantagreement.comments|length %}
                        {% if number_of_grant_agreement_comments %}
                            {% include 'grant_management/_badge_number_of_comments.tmpl' with number=number_of_grant_agreement_comments %}
                        {% endif %}
                    {% endwith %}
                    <br>
                    <strong>Grant
                        agreement:</strong> {% include 'common/_file_to_download.tmpl' with file_field=project.grantagreement.file %}<br>
                    <strong>Signed
                        date:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.grantagreement.signed_date %}<br>
                    <strong>Signed
                        by:</strong> {% include 'common/_value-or-dash.tmpl' with value=project.grantagreement.signed_by_string %}<br>
                    <p></p>
                </div>
            </div>
            <p></p>

            <div>
                <ul class="nav nav-tabs" id="grant-management-tab">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'finances' %}active{% endif %}" id="finances-tab"
                           data-toggle="tab" href="#finances" role="tab">Finances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'deliverables' %}active{% endif %}" id="deliverables-tab"
                           data-toggle="tab" href="#deliverables" role="tab">Deliverables</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade {% if active_tab == 'finances' %}show active{% endif %}" id="finances"
                     role="tabpanel">
                    <br>
                    {% include 'grant_management/_project_finances.tmpl' %}
                </div>
                <div class="tab-pane fade {% if active_tab == 'deliverables' %}show active{% endif %}" id="deliverables"
                     role="tabpanel">
                    <br>
                    {% include 'grant_management/_project_deliverables.tmpl' %}
                </div>
            </div>
            <p></p>
            <hr>
            {% include 'comments/_comments-attachments.tmpl' %}

        </div>
        <div class="col-2">
            <p>
                {% include 'logged/_proposal_button.tmpl' with project=project %}
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'logged-project-detail' pk=project.id %}" role="button">View
                    Project</a>
            </p>
            {% if project.is_active %}
                <p>

                    <a class="btn btn-primary"
                       href="{% url 'logged-grant_management-close_project' project=project.id %}">Close
                        Project</a>
                </p>
            {% else %}
                <div class="shadow-none p-1 bg-light rounded">
                    <b>Project status: </b> {{ project.status }}<br>
                    <b>Closed on:</b> {{ project.closed_on }}<br>
                    <b>Closed by:</b> {{ project.closed_by }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}