{% include 'common/_accordion.tmpl' with prefix=form.comment_prefix button_text_collapsed='Show comments' count=form.comment_count button_text_not_collapsed='Hide' template_file='comments/_comment-list-fields-for-new.tmpl' %}
