{% load crispy_forms_tags %}
{% load filename_from_path %}

{% for attachment in attachments %}
    {% include 'comments/_comment.tmpl' with value=attachment %}
    {% include 'common/_file_to_download.tmpl' with file_field=attachment.file %}
    <p></p>
{% endfor %}

<h2>Attach file</h2>
{% crispy attachment_form %}
