{% load crispy_forms_tags %}

{% for comment in comments %}
    {% include 'comments/_comment-detail.tmpl' with value=comment %}
    <p></p>
{% endfor %}

<h3>Add new comment</h3>
{% crispy comment_form %}
