{% include 'colours/_badge_color.tmpl' with colour=value.category.category.colour text=value.category %}
{{ value.created_by.first_name }} {{ value.created_by.last_name }} on {{ value.created_on }}<br>

{% if value.text %}
    <div class="pre-with-newlines p-1 border bg-white rounded">{{ value.text }}</div>
{% else %}
    <br>
{% endif %}
