Maximum budget: {{ maximum_budget }}

{{ budget_form.management_form }}

<font color="red">
    {{ budget_form.non_form_errors }}
</font>
<p>

{% for form in budget_form.forms %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
{% endfor %}
<table border="1">
    {% for form in budget_form.forms %}
        {% if forloop.first %}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}

        <tbody>

        <tr>
            {% for field in form.visible_fields %}
            <td>
                    {{ field }}
                    {{ field.help_text }}
                    <font color="red">
                        {{ field.errors.as_ul }}
                    </font>

            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
