Maximum budget: {{ maximum_budget }}

<font color="red">
    {{ budget_form.non_field_errors }}
</font>

<table border="1">
    <tr>
        <td><b>Category</b></td><td><b>Details</b></td><td><b>Amount Requested</b></td>
    </tr>
    <tr>
        {% for field in budget_form %}
            <font color="red">{{ field.errors }}</font>

            <td>{{ field.help_text }} {{ field }}</td>
            {% if forloop.counter|divisibleby:3 %}
                </tr></tr>
            {% endif %}
        {% endfor %}
    </tr>
</table>