Maximum budget: {{ maximum_budget }}

<font color="red">
    {{ budget_form.non_field_errors }}
</font>
<p>
    {{ budget_form.management_form }}

    <table border="1">
        {% for form in budget_form.forms %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}

            <tbody>

            <tr>
                {% for field in form.visible_fields %}
                <td>
                        {{ field.errors.as_ul }}
                        {{ field }}
                        {{ field.help_text }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
