Maximum budget: {{ maximum_budget }} CHF
<p>
    For each cost category, please break down the total and identify each single item.
</p>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <td>Category</td>
            <td>Details</td>
            <td>Amount (CHF)</td>
        </tr>
    </thead>
    <tbody>
    {% for proposed_budget_item in proposal.proposedbudgetitem_set.all %}
        <tr>
            <td>{{ proposed_budget_item.category }}</td>
            <td>{{ proposed_budget_item.details }}</td>
            <td>{% if proposed_budget_item.amount %}{{ proposed_budget_item.amount }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
