{% extends '_base.tmpl' %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>List of open calls</H1>

        {% if calls %}
        <ul>
            {% for call in calls %}
                <li><a href="{% url 'proposal-add' %}?call={{ call.pk }}">{{ call.long_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No calls at the moment.
        {% endif %}
    </div>
{% endblock %}
