{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %} <H1>Welcome to Projects Application</H1>
        <h2>Projects application</h2>
        Initial homepage

    </div>
{% endblock %}
