{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %} <H1>List of calls</H1>

        {% if proposals %}
        <ul>
            {% for proposal in proposals %}
                <li><a href="{% url 'proposal-update' uuid=proposal.uuid %}">{{ proposal.call }} - {{ proposal.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No proposals in the system
        {% endif %}
    </div>
{% endblock %}
