{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container" role="main">
        {% include "_logo.tmpl" %}
        {% include 'common/_proposal-form.tmpl' %}
    </div>
{% endblock %}
