{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %} <H1>New proposal</H1>

        Call name: {{ call_name }}<p>

        Deadline for application: {{ call_submission_deadline }}
        <p>
        {{ call_introductory_message }}
        <p>
        Call for proposals submission form
        <br>
        <form action="{{ proposal_action_url }}" method="post">
            {% csrf_token %}

            <h1>Part 1: General Information</h1>
            <table>
                {{ person_form.as_table }}
                {{ proposal_form.as_table }}
            </table>
            <h1>Part 2: Project Description</h1>
            {% include "_form_dynamic_questions.tmpl" %}

            <h1>Budget</h1>
            {% include "_form_budget.tmpl" %}
            <p></p>

            <h1>Funding organisations</h1>
            {% include "_form_funding_organisations.tmpl" %}

            <input type="submit" value="Submit">
        </form>
        <p>
    </div>
{% endblock %}
