{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Projects application{% endblock %}


{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>{{ action }} proposal</H1>

        <p><b>Call name:</b> {{ call_name }}</p>

        <p><b>Deadline for application:</b> {{ call_submission_deadline }}

        <div class="introductory-message border rounded">{{ call_introductory_message }}</div>

        <form action="{{ proposal_action_url }}" method="post">
            {% csrf_token %}

            <h1>Part 1: General Information</h1>
            Please complete the information about the applicant
            <table>
                {{ person_form.as_table }}
                {{ proposal_form.as_table }}
            </table>

            <h1>Part 2: Project Description</h1>
            {% include "_form_dynamic_questions.tmpl" %}

            <h1>Budget</h1>
            {% include "_form_budget.tmpl" %}

            <h1>Funding organisations</h1>
            <p>
                {% include "_form_funding_organisations.tmpl" %}
            </p>
            <input type="submit" value="Submit">
        </form>
        <p>
    </div>
{% endblock %}
