<input type="submit" name="submit" value="{{ value|default:"Submit" }}" class="btn btn-primary" id="submit-id-submit">
<p>
    You will still be able this proposal after submission, until the application deadline.
</p>
