{% load crispy_forms_field %}
{% if field.is_hidden %} {{ field }} {% else %}
    <div id="div_{{ field.auto_id }}" class="form-group{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
        <div class="input-group">
            <div class="custom-file"> {% crispy_field field 'class' 'custom-file-input' %} <label
                    for="{{ field.id_for_label }}" class="custom-file-label"> {{ field.label|safe }} </label></div>
        </div>
    </div>
{% endif %}