<nav class="col-md-1 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if active == 'calls-list' %}active{% endif %}" href="{% url 'management-calls-list' %}">
                    List calls
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'call-add' %}active{% endif %}" href="{% url 'call-add' %}">
                    Create call
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'template-questions-list' %}active{% endif %}" href="{% url 'template-questions-list' %}">List template questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'template-questions-add' %}active{% endif %}" href="{% url 'template-question-add' %}">Create template questions</a>
            </li>
        </ul>
    </div>
</nav>
