{{ call_question_form.management_form }}
{{ call_question_form.non_form_errors }}
{% load crispy_forms_tags %}

{% if call_question_form.forms %}
    {% for form in call_question_form.forms %}
        {% if not forloop.first %}
            <hr>
        {% endif %}

        <h4>Question {{ forloop.counter }}</h4>
        {% crispy form %}
    {% endfor %}
{% else %}
    <p>No questions added yet. To add questions, move them from the top box to the bottom box, then press "Submit"</p>
{% endif %}
