{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class="navbar-brand">
            <img src="{% static 'images/LogoSPI.jpg' %}" width="170" alt="SPI Logo">
        </a>

        <ul class="navbar-nav mr-auto justify-content-center d-flex flex-fill">
            <li class="nav-item {% if active == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'management-homepage'%}">Home</a>
            </li>
            <li class="nav-item {% if active == 'calls' %}active{% endif %}">
                <a class="nav-link" href="{% url 'management-calls-list' %}">Calls</a>
            </li>
            <li class="nav-item {% if active == 'proposals' %}{% endif %}">
                    <a class="nav-link" href="{% url 'management-proposals-list' %}">Proposals</a>
            </li>
            <li>
                <a class="nav-link disabled" href="#">Projects</a>
            </li>
        </ul>

        <nav class="navbar">
            <span class="navbar-text">
                User: {{ request.user.username }}
            </span>
        </nav>

        <ul class="navbar-nav justify-content-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Log out</a>
            </li>
        </ul>
    </div>
</nav>