<style>
    /** The buttons "Edit" and "View" in the Actions column should always be in the same line */
    #{{ table_id }} td:nth-child(4) {
        white-space: nowrap;
    }
</style>

<table id="{{ table_id }}" class="table table-striped table-sm table-hover display">
    <thead>
    <tr>
        <th>Name</th>
        <th>Proposals</th>
        <th>Deadline</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for call in calls %}
        <tr>
            <td>{{ call.long_name }}</td>
            <td>{{ call.number_of_proposals }}</td>
            <td>{{ call.submission_deadline }}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="{% url 'management-call-update' id=call.id %}">Edit</a>
                <a class="btn btn-primary btn-xs" href="{% url 'management-call-detail' id=call.id %}">View</a>
                <a class="btn btn-primary btn-xs" href="{% url 'proposal-add' %}?call={{ call.pk }}">Create Proposal</a>
                <a class="btn btn-primary btn-xs" href="{% url 'management-proposals-list' %}?call={{ call.pk }}">List Proposals</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
