{% extends '_base.tmpl' %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    {% include 'management/_navbar.tmpl' with active='calls' %}

    <div class="container theme-showcase" role="main">
        <h1>Open calls</h1>
        {% if open_calls %}
            {% include 'management/_table_of_calls.tmpl' with calls=open_calls %}
        {% else %}
            No open calls at the moment.
        {% endif %}

        <p></p>
        <h1>Future calls</h1>
        {% if future_calls %}
            {% for call in future_calls %}
                {% include 'management/_table_of_calls.tmpl' with calls=future_calls %}
            {% endfor %}
        {% else %}
            No future calls at the moment.
        {% endif %}

        <p></p>
        <h1>Closed calls</h1>
        {% if closed_calls %}
            {% include 'management/_table_of_calls.tmpl' with calls=closed_calls %}
        {% else %}
            No past calls at the moment.
        {% endif %}
    </div>
{% endblock %}
