{% extends '_base.tmpl' %}
{% block title %}Management homepage{% endblock %}
{% load crispy_forms_tags %}

{% block body_contents %}
{% include 'management/_navbar.tmpl' with active='calls'  %}

<div class="container-fluid">
    <div class="row">
        {% if call_form.instance.id %}
            {% include 'management/_calls-sidebar.tmpl' with active='calls-list' %}
        {% else %}
            {% include 'management/_calls-sidebar.tmpl' with active='call-add' %}
        {% endif %}

    <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <H1>{{ call_action }} a call</H1>

        {% include "_messages-box.tmpl" %}

        <form method="post" action="{{ call_action_url }}">
            {% csrf_token %}
            {% crispy call_form %}

            {% include "management/_form_call_question.tmpl" %}

            {% include "_submit-button.tmpl" %}
        </form>
        <p></p>
    </div>
            </div>
</div>

{% endblock %}
