{% extends '_base.tmpl' %}
{% block title %}Management homepage{% endblock %}
{% load crispy_forms_tags %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>{{ call_action }} a call</H1>

        {% include "_messages-box.tmpl" %}

        <form method="post" action="{{ call_action_url }}">
            {% csrf_token %}
            {% crispy call_form %}

            {% include "management/_form_call_question.tmpl" %}

            {% include "_submit-button.tmpl" %}
        </form>
        <p></p>
    </div>
{% endblock %}
