{% extends '_base.tmpl' %}
{% block title %}Call{% endblock %}

{% block body_contents %}
{% include 'management/_navbar.tmpl' with active='calls' %}

<div class="container-fluid">
    <div class="row">
        {% include 'management/_calls-sidebar.tmpl' with active='calls-list' %}

        <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <h1>Call details</h1>
            {% include "_messages-box.tmpl" %}
            <p>
            To do for Carles: show all the call details
            </p>

            Long Name: {{ call.long_name }}
            <p></p>
            <a class="btn btn-primary" href="{% url 'management-call-update' id=call.id %}">Edit the call</a>
        </div>
    </div>
</div>
{% endblock %}
