{% extends '_base.tmpl' %}
{% block title %}Projects application{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <p></p>
        <a href="{% url 'management-homepage' %}">Management Homepage</a>
        <p></p>

        <h1>Current open calls</h1>
        {% if open_calls %}
        <ul>
            {% for call in open_calls %}
                <li>{{ call.long_name }} (Number or proposals: {{ call.number_of_proposals }}) - <a href="{% url 'call-update' id=call.id %}">Edit call</a> - <a href="{% url 'proposal-add' %}?call={{ call.pk }}">Create Proposal</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No open calls at the moment.
        {% endif %}

        <p></p>
        <h1>Future calls</h1>
        {% if future_calls %}
        <ul>
            {% for call in future_calls %}
                <li>{{ call.long_name }} (Number or proposals: {{ call.number_of_proposals }}) - <a href="{% url 'call-update' id=call.id %}">Edit call</a> - <a href="{% url 'proposal-add' %}?call={{ call.pk }}">Create Proposal</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No future calls at the moment.
        {% endif %}

        <p></p>
        <h1>Closed calls</h1>
        {% if closed_calls %}
        <ul>
            {% for call in closed_calls %}
                <li>{{ call.long_name }} (Number or proposals: {{ call.number_of_proposals }}) - <a href="{% url 'call-update' id=call.id %}">Edit call</a> - <a href="{% url 'proposal-add' %}?call={{ call.pk }}">Create Proposal</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No past calls at the moment.
        {% endif %}
    </div>
{% endblock %}
