{% extends 'management/_base_with_menus.tmpl' %}
{% block subtitle %}Call{% endblock %}
{% load crispy_forms_tags %}

{% block contents %}
    <H1>{{ call_action }} call</H1>

    {% include "common/_messages-box.tmpl" %}

    <form method="post" action="{{ call_action_url }}">
        {% csrf_token %}
        {% crispy call_form %}

        {% include "management/_form_call_question.tmpl" %}

        {% include "common/_submit-button.tmpl" %}
        <p></p>
    </form>
{% endblock %}
