{% extends 'management/_base_with_menus.tmpl' %}
{% load crispy_forms_tags %}
{% block subtitle %}Funding instrument{% endblock %}

{% block contents %}
    {% if form.instance.id %}
        <h1>Editing funding instrument</h1>
    {% else %}
        <h1>Creating funding instrument</h1>
    {% endif %}
    {% include 'common/_messages-box.tmpl' %}

    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% crispy funding_instrument_form %}

        <h2>Template variables</h2>
        {% include 'template_variables-form.tmpl' %}

        {% include 'common/_submit-button.tmpl' %}
    </form>
    <br>
{% endblock %}
