{% extends 'management/_base_with_menus.tmpl' %}
{% block subtitle %}Funding instrument{% endblock %}
{% load crispy_forms_tags %}

{% block contents %}
    <br>
    {% include "common/_messages-box.tmpl" %}

    <a class="float-sm-right btn btn-primary" href="{% url 'funding-instrument-update' pk=object.id %}">Edit funding instrument</a>
    <h1>Funding instrument details</h1>

    <p></p>
    <p><strong>Long name:</strong><br>{{ object.long_name }}</p>
    <p><strong>Short name:</strong><br>{{ object.short_name }}</p>
    <p><strong>Description:</strong><br>{{ object.description }}</p>
{% endblock %}
