{% extends 'management/_base_with_menus.tmpl' %}
{% load git_commit %}
{% block subtitle %}Homepage{% endblock %}

{% block contents %}
    <h1>Homepage</h1>
    <p>
        Here there will be the latest news, coming up deadlines, search tools. This is not done yet.
    </p>

    <p>
        Meanwhile you can explore the Calls and Proposals using the navigation bar above and the options that appear on the left hand side.
    </p>

    <div class="fixed-bottom">
        <span class="text-muted"><small>Version: {% version_date %}</small></span>
    </div>
{% endblock %}
