{% extends '_base.tmpl' %}
{% load git_commit %}
{% block title %}Management homepage{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}

        <H1>Welcome to the Management homepage</H1>

        <p>Hello {{ request.user.username }}</p>

        <p>This homepage is accessible only by management users.</p>

        Call options:
        <ul>
            <li><a href="{% url 'management-calls-list' %}">List of calls</a></li>
            <li><a href="{% url 'call-add' %}">Create a new call</a></li>
        </ul>

        Template question options:
        <ul>
            <li><a href="{% url 'template-questions-list' %}">List of template questions</a></li>
            <li><a href="{% url 'template-question-add' %}">Create a new template question</a></li>
        </ul>

        Proposal options:
        <ul>
            <li><a href="{% url 'management-proposals-list' %}">List of submitted proposals</a></li>
        </ul>


        <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>

        <div class="fixed-bottom">
            <span class="text-muted"><small>Version: {% version_date %}</small></span>
        </div>
    </div>
{% endblock %}
