{% extends '_base.tmpl' %}
{% load git_commit %}
{% block title %}Management homepage{% endblock %}

{% block body_contents %}
{% include 'management/_navbar.tmpl' with active='home' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <p>
                Here there will be the latest news table and information of coming up deadlines.
            </p>

            <p>
                While we are changing this there are some options:
            </p>
            <p>
                Call options:
            <ul>
                <li><a href="{% url 'management-calls-list' %}">List of calls</a></li>
                <li><a href="{% url 'call-add' %}">Create a new call</a></li>
            </ul>

            Template question options:
            <ul>
                <li><a href="{% url 'template-questions-list' %}">List of template questions</a></li>
                <li><a href="{% url 'template-question-add' %}">Create a new template question</a></li>
            </ul>

            Proposal options:
            <ul>
                <li><a href="{% url 'management-proposals-list' %}">List of submitted proposals</a></li>
            </ul>


            <div class="fixed-bottom">
                <span class="text-muted"><small>Version: {% version_date %}</small></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
