{% extends 'management/_base_with_menus.tmpl' %}
{% block subtitle %}Proposal{% endblock %}

{% block contents %}
    <div class="container" role="main">
    {% include 'common/_proposal-detail.tmpl' with edit_button=0 %}
    </div>
{% endblock %}
