{% extends 'management/_base_with_menus.tmpl' %}
{% block title %}Projects application - Proposal list{% endblock %}

{% block contents %}
    <h1>List of proposals</h1>
    {% if proposals %}
        <table class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th>Call</th>
                <th>Title</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>{{ proposal.call.long_name }}</td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.applicant.person }}</td>
                    <td>{{ proposal.proposal_status.name }}</td>
                    <td><a class="btn btn-primary btn-xs" href="{% url 'proposal-update' uuid=proposal.uuid %}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No submitted proposals in the system
    {% endif %}
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('table.display').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"],
                        [1, "asc"]]
                }
            );
        });
    </script>
{% endblock %}
