{% extends 'management/_base_with_menus.tmpl' %}
{% block subtitle %}Proposal list{% endblock %}

{% block contents %}
    <h1>List of proposals</h1>
    {% if call_filter %}
        For call: <a href="{% url 'management-call-detail' id=call_filter.id %}">{{ call_filter.long_name }}</a>
    {% else %}
        All calls
    {% endif %}
    <p></p>
    {% if proposals %}
        <style>
            /** The buttons "Edit" and "View" in the Actions column should always be in the same line */
            #list-of-proposals td:nth-child(5) {
                white-space: nowrap;
            }
        </style>

        <table id="list-of-proposals" class="table table-striped table-sm table-hover display">
            <thead>
            <tr>
                <th>Call</th>
                <th>Title</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
                <tr>
                    <td>{{ proposal.call.long_name }}</td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.applicant.person }}</td>
                    <td>{{ proposal.proposal_status.name }}</td>
                    <td>
                        <!-- <a class="btn btn-primary btn-xs"
                           href="{% url 'management-proposal-update' uuid=proposal.uuid %}">Edit</a>
                       -->
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'management-proposal-detail' uuid=proposal.uuid %}">View</a>
                        <a class="btn btn-primary btn-xs"
                           href="{% url 'proposal-detail' uuid=proposal.uuid %}">Link</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No submitted proposals in the system
    {% endif %}
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('table.display').DataTable({
                    "pageLength": 100,
                    "order": [[0, "asc"],
                        [1, "asc"]]
                }
            );
        });
    </script>
    <p></p>
{% endblock %}
