{% extends 'management/_base_with_menus.tmpl' %}
{% block title %}Proposal Detail{% endblock %}

{% block contents %}
    <div class="container" role="main">
        {% include 'common/_proposal-form.tmpl' %}
    </div>
{% endblock %}
