{% extends '_base.tmpl' %}
{% block title %}Template question{% endblock %}
{% load crispy_forms_tags %}

{% block body_contents %}
{% include 'management/_navbar.tmpl' with active='calls' %}

<div class="container-fluid">
    <div class="row">
        {% include 'management/_calls-sidebar.tmpl' with active='template-questions-list' %}

        <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <h1>Template question details</h1>
            {% include "_messages-box.tmpl" %}

            <p></p>
            <p><b>Question:</b><br>{{ object.question_text }}</p>
            <p><b>Question description:</b><br>{{ object.question_description }}</p>
            <p><b>Question max words:</b><br>{% if object.answer_max_length %} {{ object.answer_max_length }} {% else %}
                Unlimited {% endif %}</p>
            <hr>

            <a class="btn btn-primary" href="{% url 'template-question-update' pk=object.id %}">Edit the question</a>
        </div>
    </div>
</div>
{% endblock %}
