{% extends '_base.tmpl' %}
{% load crispy_forms_tags %}
{% block title %}Template question{% endblock %}

{% block body_contents %}
{% include 'management/_navbar.tmpl' with active='calls' %}

<div class="container-fluid">
    <div class="row">
        {% if form.instance.id %}
            {% include 'management/_calls-sidebar.tmpl' with active='template-questions-list' %}
        {% else %}
            {% include 'management/_calls-sidebar.tmpl' with active='template-questions-add' %}
        {% endif %}

        <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            {% if form.instance.id %}
                <H1>Editing template question</H1>
            {% else %}
                <H1>Creating template question</H1>
            {% endif %}
            
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}
