{% extends '_base.tmpl' %}
{% block title %}Template question{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %} <H1>List of template questions</H1>

        {% if questions %}
        <ul>
            {% for template_question in template_questions %}
                <li>{{ template_question.question_text }} (max words: {{ template_question.answer_max_length }}) - <a href="{% url 'template-question-update' pk=question.id %}">Edit template question</a></li>
            {% endfor %}
        </ul>
        {% else %}
            No questions entered in the system
        {% endif %}

    </div>
{% endblock %}
