{% extends '_base.tmpl' %}
{% load crispy_forms_tags %}
{% block title %}Template question{% endblock %}

{% block body_contents %}
    <div class="container" role="main">
        {% include "_logo.tmpl" %}
        <H1>Template question</H1>
        {% crispy form %}
    </div>
{% endblock %}
