{% extends 'management/_base_with_menus.tmpl' %}
{% block subtitle %}Template question{% endblock %}
{% load crispy_forms_tags %}

{% block contents %}
    <h1>Template question details</h1>
    {% include "common/_messages-box.tmpl" %}

    <p></p>
    <p><strong>Question:</strong><br>{{ object.question_text }}</p>
    <p><strong>Question description:</strong><br>{{ object.question_description }}</p>
    <p><strong>Question max words:</strong><br>{% if object.answer_max_length %} {{ object.answer_max_length }} {% else %}
        Unlimited {% endif %}</p>
    <hr>

    <a class="btn btn-primary" href="{% url 'template-question-update' pk=object.id %}">Edit question</a>
{% endblock %}
