{% extends '_base.tmpl' %}
{% block title %}Template question{% endblock %}

{% block body_contents %}
{% include 'management/_navbar.tmpl' with active='calls' %}

<div class="container-fluid">
        <div class="row">
            {% include 'management/_calls-sidebar.tmpl' with active='template-questions-list' %}
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
                <h1>Template questions</h1>
                {% if template_questions %}
                <table class="table table-stripped table-sm table-hover display">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Max words</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for template_question in template_questions %}
                        <tr>
                            <td>{{ template_question.question_text }}</td>
                            <td>{% if template_question.answer_max_length %}{{ template_question.answer_max_length }}{% endif %}</td>
                            <td><a class="btn btn-primary btn-xs" href="{% url 'template-question-update' pk=template_question.id %}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                No questions entered in the system
                {% endif %}
            </div>
            <script type="text/javascript" class="init">
                $(document).ready(function() {
                    $('table.display').DataTable( {
                        "pageLength": 100}
                        );
                } );
            </script>
        </div>
</div>
{% endblock %}
