{{ call_question_form.management_form }}

{{ call_question_form.non_form_errors }}
{% load crispy_forms_tags %}

<H2>Questions</H2>
{% if call_question_form.forms %}
    {% crispy call_question_form %}
{% else %}
    <p>No questions added yet. To add questions select them from the "Template questions"</p>
{% endif %}
