{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Internal homepage{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>You can create a new call</H1>

        Create a new call

        <form method="post" action="{{ call_action_url }}">
            {% csrf_token %}
            <table>
                {{ call_form }}
            </table>

            <input type="submit" value="Submit">
        </form>
    <p>
    </div>
{% endblock %}
