{% extends '_base.tmpl' %}
{% block title %}Internal homepage{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>Create a new call</H1>

        <a href="{% url 'internal-homepage' %}">Internal Homepage</a>

        <form method="post" action="{{ call_action_url }}">
            {% csrf_token %}
            {% crispy call_form %}

            {% include "internal/_form_call_question.tmpl" %}

            <input type="submit" value="Submit">
        </form>
        <p></p>
    </div>
{% endblock %}
