{% extends '_base.tmpl' %}
{% load static %}
{% block title %}Internal homepage{% endblock %}

{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>Welcome to the internal homepage</H1>

        This homepage is accessible only by internal users.<p>
        You can:
        <ul>
            <li><a href="{% url 'internal-proposals-list' %}">List of submitted proposals</a></li>
            <li><a href="{% url 'calls-list' %}">List calls</a></li>
            <li><a href="{% url 'call-add' %}">Create a new call</a></li>
        </ul>

        <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
    </div>
{% endblock %}
