{% extends '_base.tmpl' %}
{% block title %}Internal homepage{% endblock %}
{% load crispy_forms_tags %}


{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}
        <H1>Create a question</H1>

        <form method="post" action="{{ call_action_url }}">
            {% crispy question_form %}

            <input type="submit" value="Submit">
        </form>
        <p></p>
    </div>
{% endblock %}
