{% extends '_base.tmpl' %}
{% block title %}Internal homepage{% endblock %}
{% load crispy_forms_tags %}


{% block body_contents %}
    <div class="container theme-showcase" role="main">
        {% include "_logo.tmpl" %}

        <h1>Question details</h1>
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
        <p></p>
        <p>Question:<br>{{ object.question_text }}</p>
        <p>Question description:<br>{{ object.question_description }}</p>
        <p>Question max words:<br>{{ object.answer_max_length }}</p>
        <hr>

        <ul>
            <li><a href="{% url 'question-update' pk=object.id %}">Edit the question</a></li>
            <li><a href="{% url 'question-add' %}">Create new question</a></li>
            <li><a href="{% url 'questions-list' %}">List questions</a></li>
            <li><a href="{% url 'internal-homepage' %}">Homepage</a></li>
        </ul>
    </div>
{% endblock %}
