{% extends 'common/_base.tmpl' %}

{% block title %}Management login{% endblock %}

{% block body_contents %}

    <div class="container" role="main">
        {% include 'common/_logo.tmpl' %}
        <p>
        <H1>Management login</H1>
        <p>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to enter the management area.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>

                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>

                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            {% include 'common/_submit-button.tmpl' %}
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <hr>
        <p>
            If you have problems logging in please contact {{ contact }}
        </p>
        <p>
            <a href="{% url 'homepage' %}">Homepage</a>
        </p>
        {# Assumes you setup the password_reset view in your URLconf #}
        {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
    </div>
{% endblock %}