
{% extends 'common/_base.tmpl' %}

{% block title %}Enter new password{% endblock %}

{% block body_contents %}

<div class="container" role="main">
  {% include 'common/_logo.tmpl' %}
  <p></p>
  {% if validlink %}
  <h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
      <input type="submit" value="Change my password">
  </form>

  {% else %}
  {% include 'common/_logo.tmpl' %}
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
  {% endif %}
</div>
{% endblock %}
