{% extends 'common/_base.tmpl' %}

{% block title %}Forget Your Password?{% endblock %}

{% block body_contents %}
    <div class="container" role="main">
        {% include 'common/_logo.tmpl' %}
        <p></p>
    </div>

    <section class="authentication">
        <div class="container">
            <div class="card-authentication">
                <h1>Forgot your password?</h1>
                <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

                <form method="post">
                    {% csrf_token %}

                    <div class="form-fields-container">
                        <div class="floating-label">
                            {{ form.as_p }}
                        </div>
                    </div>

                    <div class="card-authentication--cta">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>

                    <div class="divider"></div>

                    <p>It may take up to 10 minutes for email to arrive, therefore, we thank you for your patience</p>
                </form>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <p>Copyright &copy; 2024 Swiss Polar Institute</p>
        </div>
    </footer>
{% endblock %}
