{% extends 'common/_base.tmpl' %}

{% block title %}Forget Your Password?{% endblock %}

{% block body_contents %}
    <div class="container" role="main">
        {% include 'common/_logo.tmpl' %}
        <p></p>
        <h1>Forgot your password?</h1>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send me instructions!">
        </form>
    </div>
{% endblock %}
